<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Oportunidades de Mejora</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Oportunidades de Mejora</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-49652a72308848699f977d9997f60e96.png" alt="Oportunidades de Mejora" usemap="#id-49652a72308848699f977d9997f60e96map"/>
			   <map name="id-49652a72308848699f977d9997f60e96map">
				  		<area shape="rect" coords="789,13,940,68" href="../elements/id-3af1973eb98f48ccbea72ec3b08074f0.html"  target="element">
				  		<area shape="rect" coords="489,13,609,68" href="../elements/id-f1a241b408814aebbf797cef4395005a.html"  target="element">
				  		<area shape="rect" coords="639,10,759,65" href="../elements/id-e0c4cce9b4f34482a6f45e68e84ef992.html"  target="element">
				  		<area shape="rect" coords="169,13,289,68" href="../elements/id-db2ec63da4ea45148ad05218582ff0a0.html"  target="element">
				  		<area shape="rect" coords="994,265,1114,320" href="../elements/id-7abc559aff804500a9bb1b68076fce27.html"  target="element">
				  		<area shape="rect" coords="814,265,934,320" href="../elements/id-c7b1639cc17c47c78fd4d5cf0888e41a.html"  target="element">
				  		<area shape="rect" coords="814,157,934,212" href="../elements/id-0a9c3656c48444879baa879a079c39bd.html"  target="element">
				  		<area shape="rect" coords="658,265,778,320" href="../elements/id-1ddef64c3c2c480ba53e87470f24f4bd.html"  target="element">
				  		<area shape="rect" coords="652,157,784,212" href="../elements/id-a4376f5bba674b4f8b8c5d498fbefc7f.html"  target="element">
				  		<area shape="rect" coords="11,265,131,320" href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html"  target="element">
				  		<area shape="rect" coords="11,157,131,212" href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html"  target="element">
				  		<area shape="rect" coords="502,157,622,212" href="../elements/id-2b21e6bdcf8f46a78dbb5e376e6ad120.html"  target="element">
				  		<area shape="rect" coords="346,157,466,212" href="../elements/id-ba54eafaad244cd1a2c00a3877c0d75e.html"  target="element">
				  		<area shape="rect" coords="169,157,289,212" href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html"  target="element">
				  		<area shape="rect" coords="169,265,289,320" href="../elements/id-5e1d7f4c90874cf28ea91867edd8d52a.html"  target="element">
				  		<area shape="rect" coords="346,265,466,320" href="../elements/id-ec5129d53358454891ff31e496b76067.html"  target="element">
				  		<area shape="rect" coords="994,10,1114,65" href="../elements/id-28a09ce5f99e4e7ab874f2d6f5cd567e.html"  target="element">
				  		<area shape="rect" coords="333,10,453,65" href="../elements/id-07eb9b1fb34144a3ac6ad212f66c9a9a.html"  target="element">
				  		<area shape="rect" coords="502,265,622,320" href="../elements/id-e173f7e70895464ab587375ad150b12e.html"  target="element">
				  		<area shape="rect" coords="10,16,142,65" href="../elements/id-83bfcf3adfa44797897b8af0aaa8d14e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-83bfcf3adfa44797897b8af0aaa8d14e.html" target="element"> Tracking adquisiciones </a> </td>
											    <td> <a href="../elements/id-83bfcf3adfa44797897b8af0aaa8d14e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e173f7e70895464ab587375ad150b12e.html" target="element"> Laura </a> </td>
											    <td> <a href="../elements/id-e173f7e70895464ab587375ad150b12e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07eb9b1fb34144a3ac6ad212f66c9a9a.html" target="element"> Tracking ventas </a> </td>
											    <td> <a href="../elements/id-07eb9b1fb34144a3ac6ad212f66c9a9a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28a09ce5f99e4e7ab874f2d6f5cd567e.html" target="element"> Minoristas </a> </td>
											    <td> <a href="../elements/id-28a09ce5f99e4e7ab874f2d6f5cd567e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec5129d53358454891ff31e496b76067.html" target="element"> Jesus </a> </td>
											    <td> <a href="../elements/id-ec5129d53358454891ff31e496b76067.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e1d7f4c90874cf28ea91867edd8d52a.html" target="element"> Josefa </a> </td>
											    <td> <a href="../elements/id-5e1d7f4c90874cf28ea91867edd8d52a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html" target="element"> Marketing </a> </td>
											    <td> <a href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba54eafaad244cd1a2c00a3877c0d75e.html" target="element"> Ventas </a> </td>
											    <td> <a href="../elements/id-ba54eafaad244cd1a2c00a3877c0d75e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b21e6bdcf8f46a78dbb5e376e6ad120.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-2b21e6bdcf8f46a78dbb5e376e6ad120.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
											    <td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html" target="element"> Susana </a> </td>
											    <td> <a href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4376f5bba674b4f8b8c5d498fbefc7f.html" target="element"> Administraci&#243;n y finanzas </a> </td>
											    <td> <a href="../elements/id-a4376f5bba674b4f8b8c5d498fbefc7f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1ddef64c3c2c480ba53e87470f24f4bd.html" target="element"> Cristi&#225;n </a> </td>
											    <td> <a href="../elements/id-1ddef64c3c2c480ba53e87470f24f4bd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element"> Bodegero </a> </td>
											    <td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7b1639cc17c47c78fd4d5cf0888e41a.html" target="element"> Davis </a> </td>
											    <td> <a href="../elements/id-c7b1639cc17c47c78fd4d5cf0888e41a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
											    <td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db2ec63da4ea45148ad05218582ff0a0.html" target="element"> Preparaci&#243;n importaci&#243;n </a> </td>
											    <td> <a href="../elements/id-db2ec63da4ea45148ad05218582ff0a0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0c4cce9b4f34482a6f45e68e84ef992.html" target="element"> Data hist&#243;rica </a> </td>
											    <td> <a href="../elements/id-e0c4cce9b4f34482a6f45e68e84ef992.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1a241b408814aebbf797cef4395005a.html" target="element"> Flujo venta </a> </td>
											    <td> <a href="../elements/id-f1a241b408814aebbf797cef4395005a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3af1973eb98f48ccbea72ec3b08074f0.html" target="element"> Automatizaci&#243;n bodega </a> </td>
											    <td> <a href="../elements/id-3af1973eb98f48ccbea72ec3b08074f0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-13e4ec4c10614ff4a4ac38bb579e610b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13e4ec4c10614ff4a4ac38bb579e610b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-e173f7e70895464ab587375ad150b12e.html" target="element"> Laura </a> </td>
																		<td> <a href="../elements/id-2b21e6bdcf8f46a78dbb5e376e6ad120.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7da78b5df934c9384b2086abc2dfda3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7da78b5df934c9384b2086abc2dfda3.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-ec5129d53358454891ff31e496b76067.html" target="element"> Jesus </a> </td>
																		<td> <a href="../elements/id-ba54eafaad244cd1a2c00a3877c0d75e.html" target="element"> Ventas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5f5cd4287c87429cb43c3e956b63aacb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f5cd4287c87429cb43c3e956b63aacb.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-5e1d7f4c90874cf28ea91867edd8d52a.html" target="element"> Josefa </a> </td>
																		<td> <a href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html" target="element"> Marketing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58b6b22bd5144b6ebc9a0e88aa9eb4a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58b6b22bd5144b6ebc9a0e88aa9eb4a3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/id-83bfcf3adfa44797897b8af0aaa8d14e.html" target="element"> Tracking adquisiciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d36da0543624a71802ae76af64a84c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d36da0543624a71802ae76af64a84c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/id-db2ec63da4ea45148ad05218582ff0a0.html" target="element"> Preparaci&#243;n importaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa6b95b37c794e428ddee5bee5c6d0a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa6b95b37c794e428ddee5bee5c6d0a7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-94534b36b7b64da4bf8da97b8ccd7a00.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/id-07eb9b1fb34144a3ac6ad212f66c9a9a.html" target="element"> Tracking ventas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-840e2363670c43dda5c9e0ebc578fa64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-840e2363670c43dda5c9e0ebc578fa64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ba54eafaad244cd1a2c00a3877c0d75e.html" target="element"> Ventas </a> </td>
																		<td> <a href="../elements/id-07eb9b1fb34144a3ac6ad212f66c9a9a.html" target="element"> Tracking ventas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e1f4aa26c144c3190befc1b0c6b87e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e1f4aa26c144c3190befc1b0c6b87e1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ba54eafaad244cd1a2c00a3877c0d75e.html" target="element"> Ventas </a> </td>
																		<td> <a href="../elements/id-f1a241b408814aebbf797cef4395005a.html" target="element"> Flujo venta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6e317e9631bc4fa98566e0c1be49f76e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e317e9631bc4fa98566e0c1be49f76e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2b21e6bdcf8f46a78dbb5e376e6ad120.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-f1a241b408814aebbf797cef4395005a.html" target="element"> Flujo venta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc21f950ec4849218c8dc7f65c58dc73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc21f950ec4849218c8dc7f65c58dc73.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																		<td> <a href="../elements/id-83bfcf3adfa44797897b8af0aaa8d14e.html" target="element"> Tracking adquisiciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66822514496d487a90b7f51bce94b157.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66822514496d487a90b7f51bce94b157.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																		<td> <a href="../elements/id-db2ec63da4ea45148ad05218582ff0a0.html" target="element"> Preparaci&#243;n importaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8bc89c0ebd54a199a22545d83dc19fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8bc89c0ebd54a199a22545d83dc19fd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																		<td> <a href="../elements/id-e0c4cce9b4f34482a6f45e68e84ef992.html" target="element"> Data hist&#243;rica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55a6ba0089b0402386f3fd45d86f4711.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55a6ba0089b0402386f3fd45d86f4711.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html" target="element"> Susana </a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8ae8c07893fa42d4845880b0711f14b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ae8c07893fa42d4845880b0711f14b7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a4376f5bba674b4f8b8c5d498fbefc7f.html" target="element"> Administraci&#243;n y finanzas </a> </td>
																		<td> <a href="../elements/id-e0c4cce9b4f34482a6f45e68e84ef992.html" target="element"> Data hist&#243;rica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd5e2b86fca54faca39d7a8c4697df11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd5e2b86fca54faca39d7a8c4697df11.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a4376f5bba674b4f8b8c5d498fbefc7f.html" target="element"> Administraci&#243;n y finanzas </a> </td>
																		<td> <a href="../elements/id-f1a241b408814aebbf797cef4395005a.html" target="element"> Flujo venta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5c07b2afe5945b2a1c52e90ef751b7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5c07b2afe5945b2a1c52e90ef751b7f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-1ddef64c3c2c480ba53e87470f24f4bd.html" target="element"> Cristi&#225;n </a> </td>
																		<td> <a href="../elements/id-a4376f5bba674b4f8b8c5d498fbefc7f.html" target="element"> Administraci&#243;n y finanzas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-627a224fb2f14c888f26ce521a66e0a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-627a224fb2f14c888f26ce521a66e0a4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element"> Bodegero </a> </td>
																		<td> <a href="../elements/id-3af1973eb98f48ccbea72ec3b08074f0.html" target="element"> Automatizaci&#243;n bodega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9191ef8faab4cc3aa2dea6d501d6d76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9191ef8faab4cc3aa2dea6d501d6d76.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element"> Bodegero </a> </td>
																		<td> <a href="../elements/id-e0c4cce9b4f34482a6f45e68e84ef992.html" target="element"> Data hist&#243;rica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7022e3d446cf4600931823f740df93ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7022e3d446cf4600931823f740df93ae.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c7b1639cc17c47c78fd4d5cf0888e41a.html" target="element"> Davis </a> </td>
																		<td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element"> Bodegero </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7f4529f0dd924502be683f6e86262b0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f4529f0dd924502be683f6e86262b0c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
																		<td> <a href="../elements/id-28a09ce5f99e4e7ab874f2d6f5cd567e.html" target="element"> Minoristas </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>