<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Capacidades DLDS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Capacidades DLDS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-capability"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_capability" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-53feb74a3f3241da96d92b4430d28e55.png" alt="Capacidades DLDS" usemap="#id-53feb74a3f3241da96d92b4430d28e55map"/>
			   <map name="id-53feb74a3f3241da96d92b4430d28e55map">
				  				<area shape="rect" coords="202,394,323,443" href="../elements/id-7919a43f3986427f8cf3f1c09c83d76e.html"  target="element">
				  				<area shape="rect" coords="203,334,323,383" href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html"  target="element">
				  				<area shape="rect" coords="203,262,323,317" href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html"  target="element">
				  				<area shape="rect" coords="203,214,323,251" href="../elements/id-d2ee85cab6de410ebf290eaccf6dc4d5.html"  target="element">
				  				<area shape="rect" coords="203,154,323,203" href="../elements/id-b33ee2755cdc473e95f51bf13f5123e2.html"  target="element">

				  		<area shape="rect" coords="179,118,360,453" href="../elements/id-0971ff6900974f07804619c58d572440.html"  target="element">
				  				<area shape="rect" coords="576,286,696,341" href="../elements/id-37e4635760c64df1af763d2c7b41fb89.html"  target="element">
				  				<area shape="rect" coords="576,214,696,269" href="../elements/id-af54123477a44b0bad90b239c6838972.html"  target="element">
				  				<area shape="rect" coords="576,166,696,203" href="../elements/id-708a6a8880f945f0ae8c149a8a534d4a.html"  target="element">

				  		<area shape="rect" coords="552,118,721,359" href="../elements/id-e0c12a6195be48398b5e8a9bc075e200.html"  target="element">
				  				<area shape="rect" coords="563,500,684,549" href="../elements/id-5fa9ab20542f4c3e9150ec8e17b9fce3.html"  target="element">
				  				<area shape="rect" coords="395,500,516,549" href="../elements/id-c6fcb771c4044dda8712b024a33a0a74.html"  target="element">
				  				<area shape="rect" coords="215,500,348,549" href="../elements/id-5b8a30973a3645ee9451f67bab5bcedd.html"  target="element">
				  				<area shape="rect" coords="59,500,180,549" href="../elements/id-bf3db97f32894473a0905e4fe019a959.html"  target="element">

				  		<area shape="rect" coords="11,464,721,561" href="../elements/id-6980895c3d944ba7a347756fadf1876b.html"  target="element">
				  				<area shape="rect" coords="401,238,521,293" href="../elements/id-d971187298d6438b9a728fb1cdfc3134.html"  target="element">
				  				<area shape="rect" coords="400,310,521,359" href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html"  target="element">
				  				<area shape="rect" coords="400,166,521,215" href="../elements/id-3c6c333b8b234e12ba58df3c4e288bff.html"  target="element">

				  		<area shape="rect" coords="377,118,533,375" href="../elements/id-52bc2c46dda245728e0b13a08bef5a1a.html"  target="element">
				  				<area shape="rect" coords="22,394,143,443" href="../elements/id-887d8c84bc074b18af0518bc6bc2a60f.html"  target="element">
				  				<area shape="rect" coords="22,334,143,383" href="../elements/id-7e1ac2bde1cb41b98dd71f51413367df.html"  target="element">

				  		<area shape="rect" coords="10,298,155,453" href="../elements/id-5f9747d56b2c482ab8dc6ebcba1bd82e.html"  target="element">
				  				<area shape="rect" coords="22,214,143,263" href="../elements/id-175fac1704c1468d8395ca8f4fa587e4.html"  target="element">
				  				<area shape="rect" coords="22,154,143,203" href="../elements/id-d14e78bd291d4500bd19a256bc42b32e.html"  target="element">

				  		<area shape="rect" coords="10,118,156,275" href="../elements/id-9276998921d0436dadf12e16faec9300.html"  target="element">
				  				<area shape="rect" coords="562,46,683,95" href="../elements/id-7e67d3c534724d7caf4e5347782e4882.html"  target="element">
				  				<area shape="rect" coords="394,46,515,95" href="../elements/id-2d019cc5b0c24769921c8708fcb4ad4b.html"  target="element">
				  				<area shape="rect" coords="214,46,347,95" href="../elements/id-b9191ab38cc046948fc25e1396669d33.html"  target="element">
				  				<area shape="rect" coords="46,46,167,95" href="../elements/id-f9febc5d48bf4bdebef520418e6b2b78.html"  target="element">

				  		<area shape="rect" coords="10,10,721,107" href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html" target="element"> Gesti&#243;n del negocio </a> </td>
											    <td> <a href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f9febc5d48bf4bdebef520418e6b2b78.html" target="element"> Gesti&#243;n estrat&#233;gica </a> </td>
													    <td> <a href="../elements/id-f9febc5d48bf4bdebef520418e6b2b78.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b9191ab38cc046948fc25e1396669d33.html" target="element"> Gesti&#243;n financiera y contable </a> </td>
													    <td> <a href="../elements/id-b9191ab38cc046948fc25e1396669d33.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d019cc5b0c24769921c8708fcb4ad4b.html" target="element"> Gesti&#243;n de riesgos </a> </td>
													    <td> <a href="../elements/id-2d019cc5b0c24769921c8708fcb4ad4b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7e67d3c534724d7caf4e5347782e4882.html" target="element"> Gesti&#243;n del rendimiento </a> </td>
													    <td> <a href="../elements/id-7e67d3c534724d7caf4e5347782e4882.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9276998921d0436dadf12e16faec9300.html" target="element"> Gesti&#243;n de producto </a> </td>
											    <td> <a href="../elements/id-9276998921d0436dadf12e16faec9300.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d14e78bd291d4500bd19a256bc42b32e.html" target="element"> Definici&#243;n de producto </a> </td>
													    <td> <a href="../elements/id-d14e78bd291d4500bd19a256bc42b32e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-175fac1704c1468d8395ca8f4fa587e4.html" target="element"> Prospecci&#243;n de producto </a> </td>
													    <td> <a href="../elements/id-175fac1704c1468d8395ca8f4fa587e4.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5f9747d56b2c482ab8dc6ebcba1bd82e.html" target="element"> Marketing </a> </td>
											    <td> <a href="../elements/id-5f9747d56b2c482ab8dc6ebcba1bd82e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7e1ac2bde1cb41b98dd71f51413367df.html" target="element"> Desarrollo de mercado </a> </td>
													    <td> <a href="../elements/id-7e1ac2bde1cb41b98dd71f51413367df.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-887d8c84bc074b18af0518bc6bc2a60f.html" target="element"> Gesti&#243;n de campa&#241;a </a> </td>
													    <td> <a href="../elements/id-887d8c84bc074b18af0518bc6bc2a60f.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-52bc2c46dda245728e0b13a08bef5a1a.html" target="element"> Venta y Distribuci&#243;n </a> </td>
											    <td> <a href="../elements/id-52bc2c46dda245728e0b13a08bef5a1a.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3c6c333b8b234e12ba58df3c4e288bff.html" target="element"> Ejecuci&#243;n de la venta </a> </td>
													    <td> <a href="../elements/id-3c6c333b8b234e12ba58df3c4e288bff.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
													    <td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d971187298d6438b9a728fb1cdfc3134.html" target="element"> Gesti&#243;n del pago </a> </td>
													    <td> <a href="../elements/id-d971187298d6438b9a728fb1cdfc3134.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6980895c3d944ba7a347756fadf1876b.html" target="element"> Soporte del negocio </a> </td>
											    <td> <a href="../elements/id-6980895c3d944ba7a347756fadf1876b.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bf3db97f32894473a0905e4fe019a959.html" target="element"> Desarrollo Organizacional </a> </td>
													    <td> <a href="../elements/id-bf3db97f32894473a0905e4fe019a959.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b8a30973a3645ee9451f67bab5bcedd.html" target="element"> Gesti&#243;n de Personas </a> </td>
													    <td> <a href="../elements/id-5b8a30973a3645ee9451f67bab5bcedd.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6fcb771c4044dda8712b024a33a0a74.html" target="element"> Gesti&#243;n de instalaciones </a> </td>
													    <td> <a href="../elements/id-c6fcb771c4044dda8712b024a33a0a74.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5fa9ab20542f4c3e9150ec8e17b9fce3.html" target="element"> Gesti&#243;n de TI </a> </td>
													    <td> <a href="../elements/id-5fa9ab20542f4c3e9150ec8e17b9fce3.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e0c12a6195be48398b5e8a9bc075e200.html" target="element"> Atenci&#243;n al cliente </a> </td>
											    <td> <a href="../elements/id-e0c12a6195be48398b5e8a9bc075e200.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-708a6a8880f945f0ae8c149a8a534d4a.html" target="element"> Post-venta </a> </td>
													    <td> <a href="../elements/id-708a6a8880f945f0ae8c149a8a534d4a.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af54123477a44b0bad90b239c6838972.html" target="element"> Gesti&#243;n de la relaci&#243;n con el cliente </a> </td>
													    <td> <a href="../elements/id-af54123477a44b0bad90b239c6838972.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37e4635760c64df1af763d2c7b41fb89.html" target="element"> Gesti&#243;n de datos del cliente </a> </td>
													    <td> <a href="../elements/id-37e4635760c64df1af763d2c7b41fb89.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element"> Adquisici&#243;n de producto </a> </td>
											    <td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b33ee2755cdc473e95f51bf13f5123e2.html" target="element"> Acuerdo con proveedores </a> </td>
													    <td> <a href="../elements/id-b33ee2755cdc473e95f51bf13f5123e2.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2ee85cab6de410ebf290eaccf6dc4d5.html" target="element"> Comex </a> </td>
													    <td> <a href="../elements/id-d2ee85cab6de410ebf290eaccf6dc4d5.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
													    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html" target="element"> Ingreso a bodega </a> </td>
													    <td> <a href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7919a43f3986427f8cf3f1c09c83d76e.html" target="element"> Publicaci&#243;n de producto </a> </td>
													    <td> <a href="../elements/id-7919a43f3986427f8cf3f1c09c83d76e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3da07e8d5d3e44c19ffb723c73719d2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3da07e8d5d3e44c19ffb723c73719d2c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html" target="element"> Gesti&#243;n del negocio </a> </td>
																		<td> <a href="../elements/id-f9febc5d48bf4bdebef520418e6b2b78.html" target="element"> Gesti&#243;n estrat&#233;gica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4d1184de86e42569223318421f5016f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4d1184de86e42569223318421f5016f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html" target="element"> Gesti&#243;n del negocio </a> </td>
																		<td> <a href="../elements/id-b9191ab38cc046948fc25e1396669d33.html" target="element"> Gesti&#243;n financiera y contable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b3c147ca7824b46a730ec53fb48f9a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b3c147ca7824b46a730ec53fb48f9a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html" target="element"> Gesti&#243;n del negocio </a> </td>
																		<td> <a href="../elements/id-2d019cc5b0c24769921c8708fcb4ad4b.html" target="element"> Gesti&#243;n de riesgos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1218eb655d6c4720ae4863ac1fc306f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1218eb655d6c4720ae4863ac1fc306f1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-418d0ac6da974199a0fa96aea7777a9d.html" target="element"> Gesti&#243;n del negocio </a> </td>
																		<td> <a href="../elements/id-7e67d3c534724d7caf4e5347782e4882.html" target="element"> Gesti&#243;n del rendimiento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-603ca772a10c40ba9fff11fc5493c9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-603ca772a10c40ba9fff11fc5493c9cc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9276998921d0436dadf12e16faec9300.html" target="element"> Gesti&#243;n de producto </a> </td>
																		<td> <a href="../elements/id-175fac1704c1468d8395ca8f4fa587e4.html" target="element"> Prospecci&#243;n de producto </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c90bfc0572114b32811e884b51afdf58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c90bfc0572114b32811e884b51afdf58.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5f9747d56b2c482ab8dc6ebcba1bd82e.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/id-7e1ac2bde1cb41b98dd71f51413367df.html" target="element"> Desarrollo de mercado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ee29c9195b1434bbf16e3aba13b33cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ee29c9195b1434bbf16e3aba13b33cf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5f9747d56b2c482ab8dc6ebcba1bd82e.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/id-887d8c84bc074b18af0518bc6bc2a60f.html" target="element"> Gesti&#243;n de campa&#241;a </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b1b048f963f446b28e55f85c02927bd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1b048f963f446b28e55f85c02927bd4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-52bc2c46dda245728e0b13a08bef5a1a.html" target="element"> Venta y Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-3c6c333b8b234e12ba58df3c4e288bff.html" target="element"> Ejecuci&#243;n de la venta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f2da088b08143959dae38d1bffa40b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f2da088b08143959dae38d1bffa40b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-52bc2c46dda245728e0b13a08bef5a1a.html" target="element"> Venta y Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8524ba78b3d844af827b67f8c324987c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8524ba78b3d844af827b67f8c324987c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-52bc2c46dda245728e0b13a08bef5a1a.html" target="element"> Venta y Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-d971187298d6438b9a728fb1cdfc3134.html" target="element"> Gesti&#243;n del pago </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-13c9bc7362f9476dbfc6653741f45e5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13c9bc7362f9476dbfc6653741f45e5e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6980895c3d944ba7a347756fadf1876b.html" target="element"> Soporte del negocio </a> </td>
																		<td> <a href="../elements/id-bf3db97f32894473a0905e4fe019a959.html" target="element"> Desarrollo Organizacional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d3fb8ee5653498ea89a5f10a0d8dbf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d3fb8ee5653498ea89a5f10a0d8dbf9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6980895c3d944ba7a347756fadf1876b.html" target="element"> Soporte del negocio </a> </td>
																		<td> <a href="../elements/id-5b8a30973a3645ee9451f67bab5bcedd.html" target="element"> Gesti&#243;n de Personas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7858de11a3341aab29ccdddfde7ffbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7858de11a3341aab29ccdddfde7ffbf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6980895c3d944ba7a347756fadf1876b.html" target="element"> Soporte del negocio </a> </td>
																		<td> <a href="../elements/id-c6fcb771c4044dda8712b024a33a0a74.html" target="element"> Gesti&#243;n de instalaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f49fc7d32d1148448d99bf5174a0e01f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f49fc7d32d1148448d99bf5174a0e01f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6980895c3d944ba7a347756fadf1876b.html" target="element"> Soporte del negocio </a> </td>
																		<td> <a href="../elements/id-5fa9ab20542f4c3e9150ec8e17b9fce3.html" target="element"> Gesti&#243;n de TI </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-549204de53c941028743ed8a2ce06676.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-549204de53c941028743ed8a2ce06676.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e0c12a6195be48398b5e8a9bc075e200.html" target="element"> Atenci&#243;n al cliente </a> </td>
																		<td> <a href="../elements/id-708a6a8880f945f0ae8c149a8a534d4a.html" target="element"> Post-venta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee2782c3802a4a3682d1840000933a1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee2782c3802a4a3682d1840000933a1f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e0c12a6195be48398b5e8a9bc075e200.html" target="element"> Atenci&#243;n al cliente </a> </td>
																		<td> <a href="../elements/id-af54123477a44b0bad90b239c6838972.html" target="element"> Gesti&#243;n de la relaci&#243;n con el cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e35eee5a11744350b7cde4f20e134590.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e35eee5a11744350b7cde4f20e134590.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e0c12a6195be48398b5e8a9bc075e200.html" target="element"> Atenci&#243;n al cliente </a> </td>
																		<td> <a href="../elements/id-37e4635760c64df1af763d2c7b41fb89.html" target="element"> Gesti&#243;n de datos del cliente </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3f9f6cfbeb504385882b4a0d4ff1439a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f9f6cfbeb504385882b4a0d4ff1439a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element"> Adquisici&#243;n de producto </a> </td>
																		<td> <a href="../elements/id-b33ee2755cdc473e95f51bf13f5123e2.html" target="element"> Acuerdo con proveedores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd40f37d6fda4ad88559db54b9d1f67b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd40f37d6fda4ad88559db54b9d1f67b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element"> Adquisici&#243;n de producto </a> </td>
																		<td> <a href="../elements/id-d2ee85cab6de410ebf290eaccf6dc4d5.html" target="element"> Comex </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b03d5e7cf54b45b89d9beb98156996ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b03d5e7cf54b45b89d9beb98156996ac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element"> Adquisici&#243;n de producto </a> </td>
																		<td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ac702f5ae9f4d608e0b7ca857326ef2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ac702f5ae9f4d608e0b7ca857326ef2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element"> Adquisici&#243;n de producto </a> </td>
																		<td> <a href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html" target="element"> Ingreso a bodega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd471ce8ff634205b76df19faebc4dd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd471ce8ff634205b76df19faebc4dd7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0971ff6900974f07804619c58d572440.html" target="element"> Adquisici&#243;n de producto </a> </td>
																		<td> <a href="../elements/id-7919a43f3986427f8cf3f1c09c83d76e.html" target="element"> Publicaci&#243;n de producto </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>