<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TO BE - Bodega semillas - Ingreso</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TO BE - Bodega semillas - Ingreso</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6113dcf019284114a5de09354cfaf358.png" alt="TO BE - Bodega semillas - Ingreso" usemap="#id-6113dcf019284114a5de09354cfaf358map"/>
			   <map name="id-6113dcf019284114a5de09354cfaf358map">
				  		<area shape="rect" coords="598,137,718,191" href="../elements/id-e578c8d2859244d9b629bbf6f4fb6d6a.html"  target="element">
				  		<area shape="rect" coords="178,136,298,191" href="../elements/id-f3678b2861344b5899a9482ebfad5320.html"  target="element">
				  		<area shape="rect" coords="10,138,130,190" href="../elements/id-76dd6b41fca84790a823eb5a358ee6d8.html"  target="element">
				  		<area shape="rect" coords="118,790,238,845" href="../elements/id-4a940091a83e4fc9ad2d74db528ca523.html"  target="element">
				  		<area shape="rect" coords="251,790,371,845" href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html"  target="element">
				  		<area shape="rect" coords="634,790,754,845" href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html"  target="element">
				  		<area shape="rect" coords="670,10,790,65" href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html"  target="element">
				  		<area shape="rect" coords="406,10,538,65" href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html"  target="element">
				  				<area shape="rect" coords="635,646,755,701" href="../elements/id-1a9baafece9f4b4398ce3f07345709f1.html"  target="element">
				  				<area shape="rect" coords="630,490,750,539" href="../elements/id-1235f83b466e43528d32e68824e8903e.html"  target="element">
				  				<area shape="rect" coords="630,574,750,629" href="../elements/id-67b8456f94e648b1bf951f9b6440ac75.html"  target="element">

				          <area shape="rect" coords="599,454,803,731" href="../objects/id-30a3ade53ee441408d018e281afec96d.html" target="element" >
				  		<area shape="rect" coords="634,382,754,431" href="../elements/id-f0389070397145068c2daed757dd23d0.html"  target="element">
				  		<area shape="rect" coords="598,226,803,359" href="../elements/id-e592df34d2274852a0015e96122e4c88.html"  target="element">
				  		<area shape="rect" coords="490,226,575,359" href="../elements/id-e723c642dc1845189075480bd14c971f.html"  target="element">
				  		<area shape="rect" coords="94,382,191,431" href="../elements/id-2a2f7d2173c64986bdaccd5fe5483f84.html"  target="element">
				  		<area shape="rect" coords="10,265,130,320" href="../elements/id-6f1b92574cfe4135802af15329c3a59c.html"  target="element">
				  				<area shape="rect" coords="322,271,442,326" href="../elements/id-c80dccc4c4f244c99dacd11c99bba758.html"  target="element">
				  				<area shape="rect" coords="178,274,299,323" href="../elements/id-c71d043163a34ce68a716874bf3343dc.html"  target="element">

				  		<area shape="rect" coords="154,226,467,359" href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
											    <td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
													    <td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c80dccc4c4f244c99dacd11c99bba758.html" target="element"> Estimaci&#243;n costo por SKU semilla </a> </td>
													    <td> <a href="../elements/id-c80dccc4c4f244c99dacd11c99bba758.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6f1b92574cfe4135802af15329c3a59c.html" target="element"> LLegada del producto </a> </td>
											    <td> <a href="../elements/id-6f1b92574cfe4135802af15329c3a59c.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a2f7d2173c64986bdaccd5fe5483f84.html" target="element"> Equipo de envasado </a> </td>
											    <td> <a href="../elements/id-2a2f7d2173c64986bdaccd5fe5483f84.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
											    <td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
											    <td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0389070397145068c2daed757dd23d0.html" target="element"> Bodegero de semilla </a> </td>
											    <td> <a href="../elements/id-f0389070397145068c2daed757dd23d0.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-30a3ade53ee441408d018e281afec96d.html" target="element"> ARQUITECTURA TO BE </a> </td>
									           <td> <a href="../objects/id-30a3ade53ee441408d018e281afec96d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-67b8456f94e648b1bf951f9b6440ac75.html" target="element"> WMS bodega semilla </a> </td>
													    <td> <a href="../elements/id-67b8456f94e648b1bf951f9b6440ac75.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1235f83b466e43528d32e68824e8903e.html" target="element"> Ingresar producto </a> </td>
													    <td> <a href="../elements/id-1235f83b466e43528d32e68824e8903e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a9baafece9f4b4398ce3f07345709f1.html" target="element"> Lector de c&#243;digo </a> </td>
													    <td> <a href="../elements/id-1a9baafece9f4b4398ce3f07345709f1.html" target="element" class="i18n-elementtype-Equipment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
											    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html" target="element"> Ingreso a bodega </a> </td>
											    <td> <a href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
											    <td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element" class="i18n-elementtype-Facility"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
											    <td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element" class="i18n-elementtype-Material"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a940091a83e4fc9ad2d74db528ca523.html" target="element"> Insumo semilla a granel </a> </td>
											    <td> <a href="../elements/id-4a940091a83e4fc9ad2d74db528ca523.html" target="element" class="i18n-elementtype-Material"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76dd6b41fca84790a823eb5a358ee6d8.html" target="element"> Detalle compra semillas a granel </a> </td>
											    <td> <a href="../elements/id-76dd6b41fca84790a823eb5a358ee6d8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3678b2861344b5899a9482ebfad5320.html" target="element"> Detalle producto semilla envasado </a> </td>
											    <td> <a href="../elements/id-f3678b2861344b5899a9482ebfad5320.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e578c8d2859244d9b629bbf6f4fb6d6a.html" target="element"> Detalle producto semilla ingresado </a> </td>
											    <td> <a href="../elements/id-e578c8d2859244d9b629bbf6f4fb6d6a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d643d56004ea4725904bd1ca5421111a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d643d56004ea4725904bd1ca5421111a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
																		<td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-554cff7a773b42f397d4653446e53824.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-554cff7a773b42f397d4653446e53824.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
																		<td> <a href="../elements/id-c80dccc4c4f244c99dacd11c99bba758.html" target="element"> Estimaci&#243;n costo por SKU semilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72563532f27142a58b692f49573b39cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72563532f27142a58b692f49573b39cc.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-476b2b74530e4d7084955b558019fc48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-476b2b74530e4d7084955b558019fc48.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
																		<td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c0144136db034d2a822a81be759918a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0144136db034d2a822a81be759918a3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
																				<td> <a href="../elements/id-c80dccc4c4f244c99dacd11c99bba758.html" target="element"> Estimaci&#243;n costo por SKU semilla </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a0685645509d49fdb8d4ac3d7d9d7e86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0685645509d49fdb8d4ac3d7d9d7e86.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
																				<td> <a href="../elements/id-f3678b2861344b5899a9482ebfad5320.html" target="element"> Detalle producto semilla envasado </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ab41d0df88e841f2991054837b4794f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab41d0df88e841f2991054837b4794f0.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-6f1b92574cfe4135802af15329c3a59c.html" target="element"> LLegada del producto </a> </td>
																		<td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a776982d95a48d0b5f8d036bf184b8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a776982d95a48d0b5f8d036bf184b8d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6f1b92574cfe4135802af15329c3a59c.html" target="element"> LLegada del producto </a> </td>
																		<td> <a href="../elements/id-76dd6b41fca84790a823eb5a358ee6d8.html" target="element"> Detalle compra semillas a granel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-17599fedbed94c7f8f06587ba005ff39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17599fedbed94c7f8f06587ba005ff39.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2a2f7d2173c64986bdaccd5fe5483f84.html" target="element"> Equipo de envasado </a> </td>
																		<td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-014f0718840d4dd2a4002f5f50c680a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-014f0718840d4dd2a4002f5f50c680a8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-551628be3df34ec28ad7e18d33319aaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-551628be3df34ec28ad7e18d33319aaa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bdc958e639d44de781a5f94f887cdf97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bdc958e639d44de781a5f94f887cdf97.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																		<td> <a href="../elements/id-346baff0814740f79fb0bfba39f4ff61.html" target="element"> Ingreso a bodega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b138dee538a043db8fa28f2fa82658c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b138dee538a043db8fa28f2fa82658c6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																		<td> <a href="../elements/id-e578c8d2859244d9b629bbf6f4fb6d6a.html" target="element"> Detalle producto semilla ingresado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36fc00bec5b44840b7d464de40307c77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36fc00bec5b44840b7d464de40307c77.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-f0389070397145068c2daed757dd23d0.html" target="element"> Bodegero de semilla </a> </td>
																		<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-108a6b0020994373bf57e57bfc53b29e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-108a6b0020994373bf57e57bfc53b29e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-67b8456f94e648b1bf951f9b6440ac75.html" target="element"> WMS bodega semilla </a> </td>
																				<td> <a href="../elements/id-1235f83b466e43528d32e68824e8903e.html" target="element"> Ingresar producto </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-57cc602af369413e84c0d7597f2b741d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-57cc602af369413e84c0d7597f2b741d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-1235f83b466e43528d32e68824e8903e.html" target="element"> Ingresar producto </a> </td>
																				<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2b17486c6cf0415e9ace0b9244229df7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b17486c6cf0415e9ace0b9244229df7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-1a9baafece9f4b4398ce3f07345709f1.html" target="element"> Lector de c&#243;digo </a> </td>
																				<td> <a href="../elements/id-67b8456f94e648b1bf951f9b6440ac75.html" target="element"> WMS bodega semilla </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e014096f6f5240ba83b63b86cbe8472b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e014096f6f5240ba83b63b86cbe8472b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-1a9baafece9f4b4398ce3f07345709f1.html" target="element"> Lector de c&#243;digo </a> </td>
																				<td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ec4cee1af5984b30800eb7daf1d9dde3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec4cee1af5984b30800eb7daf1d9dde3.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
																		<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79ab756b070944fa9c64ec6b830632f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79ab756b070944fa9c64ec6b830632f9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
																		<td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-892f98c4719e4db7842ba1249d3d8876.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-892f98c4719e4db7842ba1249d3d8876.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
																		<td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-037c0b78a5ad4d3aa9a0d8cd1aae1a59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-037c0b78a5ad4d3aa9a0d8cd1aae1a59.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
																		<td> <a href="../elements/id-e592df34d2274852a0015e96122e4c88.html" target="element"> Ingreso de semillas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ae6679243c44230a68fd8266d966f0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ae6679243c44230a68fd8266d966f0b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4a940091a83e4fc9ad2d74db528ca523.html" target="element"> Insumo semilla a granel </a> </td>
																		<td> <a href="../elements/id-c71d043163a34ce68a716874bf3343dc.html" target="element"> Envasado </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>