<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ROAD MAP - Bodega semilla</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ROAD MAP - Bodega semilla</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-704f778f5fc74a4fa8e33e424d7bf01e.png" alt="ROAD MAP - Bodega semilla" usemap="#id-704f778f5fc74a4fa8e33e424d7bf01emap"/>
			   <map name="id-704f778f5fc74a4fa8e33e424d7bf01emap">
				  		<area shape="rect" coords="346,214,361,229" href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html"  target="element">
				  		<area shape="rect" coords="200,286,297,365" href="../elements/id-d30bbaeb815a4db4bf0a6b4c74c082d1.html"  target="element">
				  		<area shape="rect" coords="622,427,719,482" href="../elements/id-962f33da1ebd48c79693e14266bd1540.html"  target="element">
				  		<area shape="rect" coords="58,310,178,365" href="../elements/id-400b019840fb44e5924b8024355fb2fc.html"  target="element">
				  		<area shape="rect" coords="502,286,599,365" href="../elements/id-ebe33d19b73740c386ab47b1e39786f1.html"  target="element">
				  		<area shape="rect" coords="406,286,492,365" href="../elements/id-62b0953bfa4e42c79fe3ef40d69369fb.html"  target="element">
				  		<area shape="rect" coords="309,286,399,365" href="../elements/id-911f4387a627440b909791276109ea1e.html"  target="element">
				  				<area shape="rect" coords="490,418,575,491" href="../elements/id-4dfad00fc6e54bdcbd06ff8a541dd746.html"  target="element">
				  				<area shape="rect" coords="382,418,467,491" href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html"  target="element">
				  				<area shape="rect" coords="274,418,359,491" href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html"  target="element">
				  				<area shape="rect" coords="166,418,251,491" href="../elements/id-dce7100853a84f22a4da5d648ffa187a.html"  target="element">

				  		<area shape="rect" coords="154,394,599,527" href="../elements/id-f702e5cea68a44e490f0295180249f49.html"  target="element">
				  		<area shape="rect" coords="10,430,119,479" href="../elements/id-0485a6eaf0954de0b6ee9ef5e7aa9521.html"  target="element">
				  		<area shape="rect" coords="311,108,431,183" href="../elements/id-43d4489972814c169bf9e74badfc6905.html"  target="element">
				  		<area shape="rect" coords="46,109,166,182" href="../elements/id-0517dfd21f8942158f76e638840f1bcb.html"  target="element">
				  		<area shape="rect" coords="190,10,297,98" href="../elements/id-1ee9ab417c8f43e4921e84fe79996b19.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1ee9ab417c8f43e4921e84fe79996b19.html" target="element"> Control de existencias producto semilla </a> </td>
											    <td> <a href="../elements/id-1ee9ab417c8f43e4921e84fe79996b19.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0517dfd21f8942158f76e638840f1bcb.html" target="element"> Situaci&#243;n actual </a> </td>
											    <td> <a href="../elements/id-0517dfd21f8942158f76e638840f1bcb.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43d4489972814c169bf9e74badfc6905.html" target="element"> Bodega semilla controlada </a> </td>
											    <td> <a href="../elements/id-43d4489972814c169bf9e74badfc6905.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0485a6eaf0954de0b6ee9ef5e7aa9521.html" target="element"> Consultor&#237;a aprobada </a> </td>
											    <td> <a href="../elements/id-0485a6eaf0954de0b6ee9ef5e7aa9521.html" target="element" class="i18n-elementtype-ImplementationEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
											    <td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dce7100853a84f22a4da5d648ffa187a.html" target="element"> Especificaci&#243;n arquitectura TO BE </a> </td>
													    <td> <a href="../elements/id-dce7100853a84f22a4da5d648ffa187a.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html" target="element"> Contrataci&#243;n servicios y licencias </a> </td>
													    <td> <a href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html" target="element"> Integraci&#243;n e instalaci&#243;n aplicaci&#243;n WMS </a> </td>
													    <td> <a href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4dfad00fc6e54bdcbd06ff8a541dd746.html" target="element"> Puesta en marcha aplicaci&#243;n WMS </a> </td>
													    <td> <a href="../elements/id-4dfad00fc6e54bdcbd06ff8a541dd746.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-911f4387a627440b909791276109ea1e.html" target="element"> Contratos de servicios y licencias </a> </td>
											    <td> <a href="../elements/id-911f4387a627440b909791276109ea1e.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62b0953bfa4e42c79fe3ef40d69369fb.html" target="element"> WMS integrado e instalado </a> </td>
											    <td> <a href="../elements/id-62b0953bfa4e42c79fe3ef40d69369fb.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebe33d19b73740c386ab47b1e39786f1.html" target="element"> WMS y procesos en explotaci&#243;n </a> </td>
											    <td> <a href="../elements/id-ebe33d19b73740c386ab47b1e39786f1.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-400b019840fb44e5924b8024355fb2fc.html" target="element"> Propuesta de consultor&#237;a </a> </td>
											    <td> <a href="../elements/id-400b019840fb44e5924b8024355fb2fc.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-962f33da1ebd48c79693e14266bd1540.html" target="element"> Programa realizado </a> </td>
											    <td> <a href="../elements/id-962f33da1ebd48c79693e14266bd1540.html" target="element" class="i18n-elementtype-ImplementationEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d30bbaeb815a4db4bf0a6b4c74c082d1.html" target="element"> Arquitectura  TO BE  bodega semilla </a> </td>
											    <td> <a href="../elements/id-d30bbaeb815a4db4bf0a6b4c74c082d1.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-64e9fb0f60704b778d248eac084e0b75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e9fb0f60704b778d248eac084e0b75.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0517dfd21f8942158f76e638840f1bcb.html" target="element"> Situaci&#243;n actual </a> </td>
																		<td> <a href="../elements/id-1ee9ab417c8f43e4921e84fe79996b19.html" target="element"> Control de existencias producto semilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96dff5fd396c4c6da8d93382f8e7b0e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96dff5fd396c4c6da8d93382f8e7b0e6.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-0517dfd21f8942158f76e638840f1bcb.html" target="element"> Situaci&#243;n actual </a> </td>
																		<td> <a href="../elements/id-43d4489972814c169bf9e74badfc6905.html" target="element"> Bodega semilla controlada </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6550bf4b11824c6bb4a11b2fbad38549.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6550bf4b11824c6bb4a11b2fbad38549.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-43d4489972814c169bf9e74badfc6905.html" target="element"> Bodega semilla controlada </a> </td>
																		<td> <a href="../elements/id-1ee9ab417c8f43e4921e84fe79996b19.html" target="element"> Control de existencias producto semilla </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-007ed7185cdb4c0aa4b85ec8b3532aa5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-007ed7185cdb4c0aa4b85ec8b3532aa5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0485a6eaf0954de0b6ee9ef5e7aa9521.html" target="element"> Consultor&#237;a aprobada </a> </td>
																		<td> <a href="../elements/id-400b019840fb44e5924b8024355fb2fc.html" target="element"> Propuesta de consultor&#237;a </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d55cc936e7c4732b8b24188c2554b70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d55cc936e7c4732b8b24188c2554b70.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-0485a6eaf0954de0b6ee9ef5e7aa9521.html" target="element"> Consultor&#237;a aprobada </a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-334afd16153145a2ab8c0e2e5e955800.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-334afd16153145a2ab8c0e2e5e955800.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																		<td> <a href="../elements/id-400b019840fb44e5924b8024355fb2fc.html" target="element"> Propuesta de consultor&#237;a </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e495be1ad51c41318837fa17ea00147a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e495be1ad51c41318837fa17ea00147a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																		<td> <a href="../elements/id-962f33da1ebd48c79693e14266bd1540.html" target="element"> Programa realizado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4d08bfced33424698ddbefed52bb4c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4d08bfced33424698ddbefed52bb4c4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																		<td> <a href="../elements/id-dce7100853a84f22a4da5d648ffa187a.html" target="element"> Especificaci&#243;n arquitectura TO BE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd9e6b87a34f471088114e2abaf76b1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd9e6b87a34f471088114e2abaf76b1b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																		<td> <a href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html" target="element"> Contrataci&#243;n servicios y licencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bacb60a7d81945bb94053bbf6e2fc68c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bacb60a7d81945bb94053bbf6e2fc68c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																		<td> <a href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html" target="element"> Integraci&#243;n e instalaci&#243;n aplicaci&#243;n WMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-07cbac181ae548c094087fe634c0d50c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07cbac181ae548c094087fe634c0d50c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f702e5cea68a44e490f0295180249f49.html" target="element"> Programa bodega semillas control de existencias </a> </td>
																		<td> <a href="../elements/id-4dfad00fc6e54bdcbd06ff8a541dd746.html" target="element"> Puesta en marcha aplicaci&#243;n WMS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c0b1d3acc5d24edc9d6778094d217784.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0b1d3acc5d24edc9d6778094d217784.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-dce7100853a84f22a4da5d648ffa187a.html" target="element"> Especificaci&#243;n arquitectura TO BE </a> </td>
																				<td> <a href="../elements/id-d30bbaeb815a4db4bf0a6b4c74c082d1.html" target="element"> Arquitectura  TO BE  bodega semilla </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-54ca381680dd49d5aa4d2373d7caaced.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-54ca381680dd49d5aa4d2373d7caaced.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-dce7100853a84f22a4da5d648ffa187a.html" target="element"> Especificaci&#243;n arquitectura TO BE </a> </td>
																				<td> <a href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html" target="element"> Contrataci&#243;n servicios y licencias </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-764377cc46b24878a88c163e673dfd44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-764377cc46b24878a88c163e673dfd44.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html" target="element"> Contrataci&#243;n servicios y licencias </a> </td>
																				<td> <a href="../elements/id-911f4387a627440b909791276109ea1e.html" target="element"> Contratos de servicios y licencias </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-18d12855fc5e4185b5ca8dcc71e2e03a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18d12855fc5e4185b5ca8dcc71e2e03a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-41d7519b477e4cecb7f99466dfedca17.html" target="element"> Contrataci&#243;n servicios y licencias </a> </td>
																				<td> <a href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html" target="element"> Integraci&#243;n e instalaci&#243;n aplicaci&#243;n WMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cfd1f8ae5f1c40949d1abaf36e39d094.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cfd1f8ae5f1c40949d1abaf36e39d094.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html" target="element"> Integraci&#243;n e instalaci&#243;n aplicaci&#243;n WMS </a> </td>
																				<td> <a href="../elements/id-62b0953bfa4e42c79fe3ef40d69369fb.html" target="element"> WMS integrado e instalado </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bc0de815c39a42908a447ad7bb786bab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc0de815c39a42908a447ad7bb786bab.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-2b2754fdb06b443d89f908ac45e9f56d.html" target="element"> Integraci&#243;n e instalaci&#243;n aplicaci&#243;n WMS </a> </td>
																				<td> <a href="../elements/id-4dfad00fc6e54bdcbd06ff8a541dd746.html" target="element"> Puesta en marcha aplicaci&#243;n WMS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-176e8798451042d8893b74e27324ad21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-176e8798451042d8893b74e27324ad21.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-4dfad00fc6e54bdcbd06ff8a541dd746.html" target="element"> Puesta en marcha aplicaci&#243;n WMS </a> </td>
																				<td> <a href="../elements/id-ebe33d19b73740c386ab47b1e39786f1.html" target="element"> WMS y procesos en explotaci&#243;n </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b8718d212b7c4c9c9ce7f92f91e75b6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8718d212b7c4c9c9ce7f92f91e75b6c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-911f4387a627440b909791276109ea1e.html" target="element"> Contratos de servicios y licencias </a> </td>
																		<td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f05c5909c7be4d1abd51429afe968412.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f05c5909c7be4d1abd51429afe968412.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-62b0953bfa4e42c79fe3ef40d69369fb.html" target="element"> WMS integrado e instalado </a> </td>
																		<td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d1d7a72534cb408cbc41a7ebfe2b6935.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1d7a72534cb408cbc41a7ebfe2b6935.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-ebe33d19b73740c386ab47b1e39786f1.html" target="element"> WMS y procesos en explotaci&#243;n </a> </td>
																		<td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a4b36347329f4228b1de4e75fd2b7860.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4b36347329f4228b1de4e75fd2b7860.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d30bbaeb815a4db4bf0a6b4c74c082d1.html" target="element"> Arquitectura  TO BE  bodega semilla </a> </td>
																		<td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0199b7769f04996a8e5798269295343.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0199b7769f04996a8e5798269295343.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-898c1a70941f4fecb478c2b5616a8075.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-43d4489972814c169bf9e74badfc6905.html" target="element"> Bodega semilla controlada </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>