<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Armado de pedido</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Armado de pedido</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8f203973b43343b998d5e814dfec0dbe.png" alt="Armado de pedido" usemap="#id-8f203973b43343b998d5e814dfec0dbemap"/>
			   <map name="id-8f203973b43343b998d5e814dfec0dbemap">
				  				<area shape="rect" coords="178,581,298,636" href="../elements/id-a1572f312c024eba9cf2a0814213a3e4.html"  target="element">
				  				<area shape="rect" coords="178,521,298,576" href="../elements/id-753bf17ac89a42b1a0016e9d38702958.html"  target="element">

				          <area shape="rect" coords="166,485,312,649" href="../objects/id-98082f07aca64787bdcedc2e86f767b7.html" target="element" >
				  				<area shape="rect" coords="23,589,143,644" href="../elements/id-27fe883bc67447f182c2a31446590df3.html"  target="element">
				  				<area shape="rect" coords="23,529,143,584" href="../elements/id-bc41651ab4c74cce846d8df1ce0dc5e0.html"  target="element">

				          <area shape="rect" coords="11,505,155,650" href="../objects/id-b0c47912f0b74160b1b3caf45fa04d0b.html" target="element" >
				  				<area shape="rect" coords="22,34,142,89" href="../elements/id-9defd483c524476da940677c07790864.html"  target="element">

				          <area shape="rect" coords="10,10,155,101" href="../objects/id-75bd8810883a4790ba86a250a0daa3d6.html" target="element" >
				  				<area shape="rect" coords="23,433,143,488" href="../elements/id-01301086c6b64559b266bd9a0300e20c.html"  target="element">
				  				<area shape="rect" coords="22,373,142,428" href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html"  target="element">
				  				<area shape="rect" coords="23,313,143,368" href="../elements/id-07af281ca741445982c47581cb2c9068.html"  target="element">
				  				<area shape="rect" coords="23,253,143,308" href="../elements/id-e497bd906f1d405dbe48245689702b5f.html"  target="element">
				  				<area shape="rect" coords="22,133,142,188" href="../elements/id-0ad8adb521cf47cfbc9d0781e23e1884.html"  target="element">
				  				<area shape="rect" coords="23,193,143,248" href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html"  target="element">

				          <area shape="rect" coords="10,109,155,501" href="../objects/id-80d931da70704dc1852b6db8696f3cfc.html" target="element" >
				  				<area shape="rect" coords="506,457,614,504" href="../elements/id-5a95e9d47c9546a1acb81a6fdc9b8978.html"  target="element">
				  				<area shape="rect" coords="356,458,464,503" href="../elements/id-752e19e589ab4d28b6d6dd55808f3efd.html"  target="element">
				  				<area shape="rect" coords="500,523,620,578" href="../elements/id-88449ddcfedc451a888adf85fab615bc.html"  target="element">
				  				<area shape="rect" coords="368,577,488,632" href="../elements/id-542185089dad440fa625a14d1397c3ed.html"  target="element">
				  				<area shape="rect" coords="633,458,742,504" href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html"  target="element">
				  				<area shape="rect" coords="628,577,748,632" href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html"  target="element">

				  		<area shape="rect" coords="344,421,766,649" href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html"  target="element">
				  		<area shape="rect" coords="574,34,694,77" href="../elements/id-3a727ddf34cb4188b241f0095253ba70.html"  target="element">
				  		<area shape="rect" coords="586,300,706,333" href="../elements/id-dafe6f0bcddd43b7be34d87cea29deb0.html"  target="element">
				  		<area shape="rect" coords="178,300,311,333" href="../elements/id-ea5f4d59d05745e78921ce579d645e26.html"  target="element">
				  		<area shape="rect" coords="185,361,305,410" href="../elements/id-2e5288f1ef5e49538ec034ed97fa8ce5.html"  target="element">
				  		<area shape="rect" coords="586,361,706,410" href="../elements/id-9132e13a93954e75a00b439962b6f39a.html"  target="element">
				  				<area shape="rect" coords="634,135,743,193" href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html"  target="element">
				  				<area shape="rect" coords="490,136,611,191" href="../elements/id-b084e3951fc7457b978c5a16cde89720.html"  target="element">
				  				<area shape="rect" coords="346,136,466,191" href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html"  target="element">
				  				<area shape="rect" coords="202,136,323,191" href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html"  target="element">

				  		<area shape="rect" coords="178,100,754,209" href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html"  target="element">
				  		<area shape="rect" coords="178,31,264,80" href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html"  target="element">
				  		<area shape="rect" coords="406,277,503,307" href="../elements/id-0a9c3656c48444879baa879a079c39bd.html"  target="element">
				  		<area shape="rect" coords="657,234,754,259" href="../elements/id-356a194b8d5742fba25258d327caf2ad.html"  target="element">
				  		<area shape="rect" coords="430,234,527,259" href="../elements/id-d07da668f00045fca711eb46b37d8404.html"  target="element">
				  		<area shape="rect" coords="238,234,335,259" href="../elements/id-83d57a8f63354c88ad2d06e61decf021.html"  target="element">
				  		<area shape="rect" coords="778,97,875,206" href="../elements/id-879dd1c5b07d45a59c528355a146d777.html"  target="element">
				  		<area shape="rect" coords="718,10,838,65" href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
											    <td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
											    <td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83d57a8f63354c88ad2d06e61decf021.html" target="element"> Nilo </a> </td>
											    <td> <a href="../elements/id-83d57a8f63354c88ad2d06e61decf021.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d07da668f00045fca711eb46b37d8404.html" target="element"> Nestor </a> </td>
											    <td> <a href="../elements/id-d07da668f00045fca711eb46b37d8404.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-356a194b8d5742fba25258d327caf2ad.html" target="element"> Viviana </a> </td>
											    <td> <a href="../elements/id-356a194b8d5742fba25258d327caf2ad.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element"> Bodegero </a> </td>
											    <td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html" target="element"> Pedido pagado </a> </td>
											    <td> <a href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
											    <td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html" target="element"> Procesa pedido </a> </td>
													    <td> <a href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
													    <td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
													    <td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element"> Factura pedido </a> </td>
													    <td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
											    <td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e5288f1ef5e49538ec034ed97fa8ce5.html" target="element"> Portal WEB PrestaShop </a> </td>
											    <td> <a href="../elements/id-2e5288f1ef5e49538ec034ed97fa8ce5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ea5f4d59d05745e78921ce579d645e26.html" target="element"> Imprimir albaran de armado </a> </td>
											    <td> <a href="../elements/id-ea5f4d59d05745e78921ce579d645e26.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dafe6f0bcddd43b7be34d87cea29deb0.html" target="element"> Emitir factura </a> </td>
											    <td> <a href="../elements/id-dafe6f0bcddd43b7be34d87cea29deb0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a727ddf34cb4188b241f0095253ba70.html" target="element"> Ajuste pedido </a> </td>
											    <td> <a href="../elements/id-3a727ddf34cb4188b241f0095253ba70.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
											    <td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
													    <td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element" class="i18n-elementtype-Facility"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
													    <td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element" class="i18n-elementtype-Material"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-542185089dad440fa625a14d1397c3ed.html" target="element"> Bodega General </a> </td>
													    <td> <a href="../elements/id-542185089dad440fa625a14d1397c3ed.html" target="element" class="i18n-elementtype-Facility"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-88449ddcfedc451a888adf85fab615bc.html" target="element"> Jaula de picking </a> </td>
													    <td> <a href="../elements/id-88449ddcfedc451a888adf85fab615bc.html" target="element" class="i18n-elementtype-Facility"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-752e19e589ab4d28b6d6dd55808f3efd.html" target="element"> Producto masivo </a> </td>
													    <td> <a href="../elements/id-752e19e589ab4d28b6d6dd55808f3efd.html" target="element" class="i18n-elementtype-Material"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a95e9d47c9546a1acb81a6fdc9b8978.html" target="element"> Producto picking </a> </td>
													    <td> <a href="../elements/id-5a95e9d47c9546a1acb81a6fdc9b8978.html" target="element" class="i18n-elementtype-Material"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-80d931da70704dc1852b6db8696f3cfc.html" target="element"> NEGOCIO </a> </td>
									           <td> <a href="../objects/id-80d931da70704dc1852b6db8696f3cfc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html" target="element"> FUNCION DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ad8adb521cf47cfbc9d0781e23e1884.html" target="element"> EVENTO DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-0ad8adb521cf47cfbc9d0781e23e1884.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e497bd906f1d405dbe48245689702b5f.html" target="element"> PROCESO DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-e497bd906f1d405dbe48245689702b5f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07af281ca741445982c47581cb2c9068.html" target="element"> ACTOR DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-07af281ca741445982c47581cb2c9068.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html" target="element"> ROL DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01301086c6b64559b266bd9a0300e20c.html" target="element"> OBJETO DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-01301086c6b64559b266bd9a0300e20c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-75bd8810883a4790ba86a250a0daa3d6.html" target="element"> ESTRATEGIA </a> </td>
									           <td> <a href="../objects/id-75bd8810883a4790ba86a250a0daa3d6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9defd483c524476da940677c07790864.html" target="element"> CAPACIDAD </a> </td>
													    <td> <a href="../elements/id-9defd483c524476da940677c07790864.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b0c47912f0b74160b1b3caf45fa04d0b.html" target="element"> APLICACI&#211;N </a> </td>
									           <td> <a href="../objects/id-b0c47912f0b74160b1b3caf45fa04d0b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-bc41651ab4c74cce846d8df1ce0dc5e0.html" target="element"> COMPONENTE DE APLICACI&#211;N </a> </td>
													    <td> <a href="../elements/id-bc41651ab4c74cce846d8df1ce0dc5e0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27fe883bc67447f182c2a31446590df3.html" target="element"> SERVICIO DE APLICACI&#211;N </a> </td>
													    <td> <a href="../elements/id-27fe883bc67447f182c2a31446590df3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-98082f07aca64787bdcedc2e86f767b7.html" target="element"> TEC Y FISICO </a> </td>
									           <td> <a href="../objects/id-98082f07aca64787bdcedc2e86f767b7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-753bf17ac89a42b1a0016e9d38702958.html" target="element"> MATERIAL </a> </td>
													    <td> <a href="../elements/id-753bf17ac89a42b1a0016e9d38702958.html" target="element" class="i18n-elementtype-Material"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1572f312c024eba9cf2a0814213a3e4.html" target="element"> NODO </a> </td>
													    <td> <a href="../elements/id-a1572f312c024eba9cf2a0814213a3e4.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0772f0a311b34df0a3a9cdef702f8dc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0772f0a311b34df0a3a9cdef702f8dc2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																		<td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1417b474128a4fd9938c10ef9b6a1ead.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1417b474128a4fd9938c10ef9b6a1ead.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-83d57a8f63354c88ad2d06e61decf021.html" target="element"> Nilo </a> </td>
																		<td> <a href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html" target="element"> Procesa pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b73b0a855b5e46eab41e8601ec4afa69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b73b0a855b5e46eab41e8601ec4afa69.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-d07da668f00045fca711eb46b37d8404.html" target="element"> Nestor </a> </td>
																		<td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-392303874c0c45eeaa633e662ce256d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-392303874c0c45eeaa633e662ce256d5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-d07da668f00045fca711eb46b37d8404.html" target="element"> Nestor </a> </td>
																		<td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1634b64715c24efd942ac8585095a1cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1634b64715c24efd942ac8585095a1cc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-356a194b8d5742fba25258d327caf2ad.html" target="element"> Viviana </a> </td>
																		<td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element"> Factura pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e5a18392ee48453bb52c8464b435bae2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5a18392ee48453bb52c8464b435bae2.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-0a9c3656c48444879baa879a079c39bd.html" target="element"> Bodegero </a> </td>
																		<td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2cd47fff549b42d69efb1cbe8b895f9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cd47fff549b42d69efb1cbe8b895f9b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html" target="element"> Pedido pagado </a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7038d6f22224022a8bcaac2a90b23ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7038d6f22224022a8bcaac2a90b23ec.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fc4d70cfd284c5a9b2d3941c4357427.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fc4d70cfd284c5a9b2d3941c4357427.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b404c42009864a20a88a24e64ead43dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b404c42009864a20a88a24e64ead43dd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html" target="element"> Procesa pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c4efa5a105b4ff18448810c980057ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c4efa5a105b4ff18448810c980057ae.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-888334b527f24feba04b06896723d3b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-888334b527f24feba04b06896723d3b0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac42dc5c383b4e11a075aaf81b031a6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac42dc5c383b4e11a075aaf81b031a6d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element"> Factura pedido </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-edfb56ee75a5414985b2438740db1191.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-edfb56ee75a5414985b2438740db1191.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html" target="element"> Procesa pedido </a> </td>
																				<td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-605371d1c6ca464298aa3ae3f32e941c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-605371d1c6ca464298aa3ae3f32e941c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
																				<td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d2567f5c7a6441a5947c5af0c135ddbe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2567f5c7a6441a5947c5af0c135ddbe.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
																				<td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element"> Factura pedido </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0959d275ee4c4e0ab750de2cd600079d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0959d275ee4c4e0ab750de2cd600079d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
																				<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d78655396d0742cfa3613260811ecd0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d78655396d0742cfa3613260811ecd0d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																		<td> <a href="../elements/id-dafe6f0bcddd43b7be34d87cea29deb0.html" target="element"> Emitir factura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-943f3c7a077f47bcab167b843aeafb71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-943f3c7a077f47bcab167b843aeafb71.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2e5288f1ef5e49538ec034ed97fa8ce5.html" target="element"> Portal WEB PrestaShop </a> </td>
																		<td> <a href="../elements/id-ea5f4d59d05745e78921ce579d645e26.html" target="element"> Imprimir albaran de armado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-46db28396c154c28a56f4364c5d3e301.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46db28396c154c28a56f4364c5d3e301.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-ea5f4d59d05745e78921ce579d645e26.html" target="element"> Imprimir albaran de armado </a> </td>
																		<td> <a href="../elements/id-4573ef83007749d39d23f6121a9b13e4.html" target="element"> Procesa pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-23f651fd646d4270aab13f25376bbfc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23f651fd646d4270aab13f25376bbfc4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-dafe6f0bcddd43b7be34d87cea29deb0.html" target="element"> Emitir factura </a> </td>
																		<td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element"> Factura pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e63b68f807b446abb441fda18e94898.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e63b68f807b446abb441fda18e94898.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3a727ddf34cb4188b241f0095253ba70.html" target="element"> Ajuste pedido </a> </td>
																		<td> <a href="../elements/id-b084e3951fc7457b978c5a16cde89720.html" target="element"> Verifica productos del pedido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c88de9c02c94fbaa376fafd1eeef383.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c88de9c02c94fbaa376fafd1eeef383.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3a727ddf34cb4188b241f0095253ba70.html" target="element"> Ajuste pedido </a> </td>
																		<td> <a href="../elements/id-86b6ed2bb7de438db0e80e581ac3476e.html" target="element"> Factura pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0fcea1cf81ff4be0bc04f105dc7cd4b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fcea1cf81ff4be0bc04f105dc7cd4b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83794f13ce004a189e4d4d0d8fe41406.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83794f13ce004a189e4d4d0d8fe41406.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e99ab238a41c4bbf99db4148b0b7ea59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e99ab238a41c4bbf99db4148b0b7ea59.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-542185089dad440fa625a14d1397c3ed.html" target="element"> Bodega General </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6de21210edaf4beea42c762b409a365b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6de21210edaf4beea42c762b409a365b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-88449ddcfedc451a888adf85fab615bc.html" target="element"> Jaula de picking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b9d7e764fc84bfbaae980f781ba54e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b9d7e764fc84bfbaae980f781ba54e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-752e19e589ab4d28b6d6dd55808f3efd.html" target="element"> Producto masivo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d97a9b0b43e344a49d385a8e0353fe2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d97a9b0b43e344a49d385a8e0353fe2d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-5a95e9d47c9546a1acb81a6fdc9b8978.html" target="element"> Producto picking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-666ee3d29f7c4e44959b17f91fe729c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-666ee3d29f7c4e44959b17f91fe729c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ca4b7dac9181496db0e6287f9f998d8f.html" target="element"> Bodegas de productos </a> </td>
																		<td> <a href="../elements/id-588d1297778d4e849ffb359d1a807dbf.html" target="element"> Arma pedido </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-79ab756b070944fa9c64ec6b830632f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79ab756b070944fa9c64ec6b830632f9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-91cbd70d80764e74898e41cbbcdd083f.html" target="element"> Bodega de Semillas </a> </td>
																				<td> <a href="../elements/id-4438f508b53a495ab418a2a5a24264c2.html" target="element"> Producto semilla </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0bdda25157a1440bae9a6bd7a91d9811.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0bdda25157a1440bae9a6bd7a91d9811.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-542185089dad440fa625a14d1397c3ed.html" target="element"> Bodega General </a> </td>
																				<td> <a href="../elements/id-752e19e589ab4d28b6d6dd55808f3efd.html" target="element"> Producto masivo </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8bf2b8c6bd4a4eeb98669bc7594e58ae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bf2b8c6bd4a4eeb98669bc7594e58ae.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-88449ddcfedc451a888adf85fab615bc.html" target="element"> Jaula de picking </a> </td>
																				<td> <a href="../elements/id-542185089dad440fa625a14d1397c3ed.html" target="element"> Bodega General </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d262f7e45bdb415ca05e26a5bd1bd4b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d262f7e45bdb415ca05e26a5bd1bd4b5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-88449ddcfedc451a888adf85fab615bc.html" target="element"> Jaula de picking </a> </td>
																				<td> <a href="../elements/id-5a95e9d47c9546a1acb81a6fdc9b8978.html" target="element"> Producto picking </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>