<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fijación de precio</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fijaci&#243;n de precio</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-af810e63a2144ba6a28e47ac15054bb4.png" alt="Fijación de precio" usemap="#id-af810e63a2144ba6a28e47ac15054bb4map"/>
			   <map name="id-af810e63a2144ba6a28e47ac15054bb4map">
				  		<area shape="rect" coords="781,658,901,706" href="../elements/id-873f230165534f2b91eb8ee88fab4685.html"  target="element">
				  				<area shape="rect" coords="178,646,311,701" href="../elements/id-9a5ea2a814c949199dc064f647899a6b.html"  target="element">

				          <area shape="rect" coords="166,622,323,706" href="../objects/id-8cd52888354049b78c41b2c10ef0f302.html" target="element" >
				  				<area shape="rect" coords="23,646,143,701" href="../elements/id-bc41651ab4c74cce846d8df1ce0dc5e0.html"  target="element">

				          <area shape="rect" coords="11,622,155,706" href="../objects/id-bf2aa574c48c4ae287336898ce73e260.html" target="element" >
				  				<area shape="rect" coords="22,550,142,605" href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html"  target="element">
				  				<area shape="rect" coords="22,490,142,545" href="../elements/id-07af281ca741445982c47581cb2c9068.html"  target="element">
				  				<area shape="rect" coords="22,430,142,485" href="../elements/id-01301086c6b64559b266bd9a0300e20c.html"  target="element">
				  				<area shape="rect" coords="22,370,142,425" href="../elements/id-99154d9efb9449cbb13f144548b26b5b.html"  target="element">
				  				<area shape="rect" coords="24,310,138,365" href="../elements/id-cc6ce52034414b6eb215b1ed79242717.html"  target="element">
				  				<area shape="rect" coords="21,250,142,305" href="../elements/id-34a9d186b82d49b18fd4e42a710a36c7.html"  target="element">
				  				<area shape="rect" coords="21,190,141,245" href="../elements/id-e497bd906f1d405dbe48245689702b5f.html"  target="element">
				  				<area shape="rect" coords="22,130,142,185" href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html"  target="element">

				          <area shape="rect" coords="10,106,155,611" href="../objects/id-370e61c6ac2944a98c3273fd4e0c9a75.html" target="element" >
				  				<area shape="rect" coords="22,34,142,89" href="../elements/id-9defd483c524476da940677c07790864.html"  target="element">

				          <area shape="rect" coords="10,10,155,95" href="../objects/id-f69a576452754731bbfe9d298af2293e.html" target="element" >
				  				<area shape="rect" coords="238,298,370,335" href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html"  target="element">
				  				<area shape="rect" coords="238,226,370,287" href="../elements/id-406aa0b7a728417aa251984c6bd5819d.html"  target="element">
				  				<area shape="rect" coords="238,142,370,215" href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html"  target="element">

				  		<area shape="rect" coords="226,106,382,347" href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html"  target="element">
				  		<area shape="rect" coords="346,10,466,65" href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html"  target="element">
				  		<area shape="rect" coords="781,580,878,635" href="../elements/id-9132e13a93954e75a00b439962b6f39a.html"  target="element">
				  		<area shape="rect" coords="970,358,1079,407" href="../elements/id-16335545e4294d829a11a9988585409c.html"  target="element">
				  		<area shape="rect" coords="905,52,1025,107" href="../elements/id-f4c83a68c812425eb033529fd7f33305.html"  target="element">
				  		<area shape="rect" coords="506,52,626,107" href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html"  target="element">
				  		<area shape="rect" coords="898,529,1007,572" href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html"  target="element">
				  		<area shape="rect" coords="910,470,995,503" href="../elements/id-1fa796bf23624e42b3356c172f2992df.html"  target="element">
				  		<area shape="rect" coords="659,471,743,502" href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html"  target="element">
				  		<area shape="rect" coords="646,532,755,569" href="../elements/id-1332610109014c949bdf06ef722ae5b8.html"  target="element">
				  		<area shape="rect" coords="418,471,500,503" href="../elements/id-c686d138670746a2805cf24482a3cf25.html"  target="element">
				  		<area shape="rect" coords="525,472,607,502" href="../elements/id-7abc559aff804500a9bb1b68076fce27.html"  target="element">
				  		<area shape="rect" coords="300,472,382,502" href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html"  target="element">
				  		<area shape="rect" coords="442,328,575,389" href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html"  target="element">
				  				<area shape="rect" coords="442,163,562,218" href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html"  target="element">
				  				<area shape="rect" coords="766,162,875,214" href="../elements/id-2e018cf6614a4859aef890847b3be20a.html"  target="element">
				  				<area shape="rect" coords="910,163,1019,218" href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html"  target="element">
				  				<area shape="rect" coords="586,183,601,198" href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html"  target="element">
				  				<area shape="rect" coords="634,232,731,269" href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html"  target="element">

				  		<area shape="rect" coords="418,124,1055,305" href="../elements/id-e723c642dc1845189075480bd14c971f.html"  target="element">
				  		<area shape="rect" coords="300,532,607,569" href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Solo considera el caso de adquisici&#243;n de productos por importaci&#243;n.
No considera la adquisici&#243;n de productos en mercado nacional.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
											    <td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
											    <td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
													    <td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
													    <td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
													    <td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html" target="element"> Determina precio del SKU </a> </td>
													    <td> <a href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
											    <td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
											    <td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
											    <td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element"> Amin </a> </td>
											    <td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1332610109014c949bdf06ef722ae5b8.html" target="element"> Soporte TI </a> </td>
											    <td> <a href="../elements/id-1332610109014c949bdf06ef722ae5b8.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element"> Daniel </a> </td>
											    <td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element"> Francisco </a> </td>
											    <td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html" target="element"> Ayudante de operaciones </a> </td>
											    <td> <a href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html" target="element"> Precio del SKU </a> </td>
											    <td> <a href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4c83a68c812425eb033529fd7f33305.html" target="element"> Stock del SKU </a> </td>
											    <td> <a href="../elements/id-f4c83a68c812425eb033529fd7f33305.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16335545e4294d829a11a9988585409c.html" target="element"> Resultado del conteo y revisi&#243;n  </a> </td>
											    <td> <a href="../elements/id-16335545e4294d829a11a9988585409c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
											    <td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
											    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element"> Funciones para el costeo del SKU </a> </td>
											    <td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo producto importado (no semilla) </a> </td>
													    <td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-406aa0b7a728417aa251984c6bd5819d.html" target="element"> Costeo producto nacional </a> </td>
													    <td> <a href="../elements/id-406aa0b7a728417aa251984c6bd5819d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
													    <td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-f69a576452754731bbfe9d298af2293e.html" target="element"> ESTRATEGIA </a> </td>
									           <td> <a href="../objects/id-f69a576452754731bbfe9d298af2293e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9defd483c524476da940677c07790864.html" target="element"> CAPACIDAD </a> </td>
													    <td> <a href="../elements/id-9defd483c524476da940677c07790864.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-370e61c6ac2944a98c3273fd4e0c9a75.html" target="element"> NEGOCIO </a> </td>
									           <td> <a href="../objects/id-370e61c6ac2944a98c3273fd4e0c9a75.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html" target="element"> FUNCION DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e497bd906f1d405dbe48245689702b5f.html" target="element"> PROCESO DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-e497bd906f1d405dbe48245689702b5f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34a9d186b82d49b18fd4e42a710a36c7.html" target="element"> INTERACCION DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-34a9d186b82d49b18fd4e42a710a36c7.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc6ce52034414b6eb215b1ed79242717.html" target="element"> COLABORACI&#211;N DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-cc6ce52034414b6eb215b1ed79242717.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-99154d9efb9449cbb13f144548b26b5b.html" target="element"> CONTRATO </a> </td>
													    <td> <a href="../elements/id-99154d9efb9449cbb13f144548b26b5b.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01301086c6b64559b266bd9a0300e20c.html" target="element"> OBJETO DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-01301086c6b64559b266bd9a0300e20c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07af281ca741445982c47581cb2c9068.html" target="element"> ACTOR DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-07af281ca741445982c47581cb2c9068.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html" target="element"> ROL DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-bf2aa574c48c4ae287336898ce73e260.html" target="element"> APLICACI&#211;N </a> </td>
									           <td> <a href="../objects/id-bf2aa574c48c4ae287336898ce73e260.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-bc41651ab4c74cce846d8df1ce0dc5e0.html" target="element"> COMPONENTE DE APLICACI&#211;N </a> </td>
													    <td> <a href="../elements/id-bc41651ab4c74cce846d8df1ce0dc5e0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8cd52888354049b78c41b2c10ef0f302.html" target="element"> TEC Y FISICO </a> </td>
									           <td> <a href="../objects/id-8cd52888354049b78c41b2c10ef0f302.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9a5ea2a814c949199dc064f647899a6b.html" target="element"> SERVICIO TECNOL&#211;GICO </a> </td>
													    <td> <a href="../elements/id-9a5ea2a814c949199dc064f647899a6b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-873f230165534f2b91eb8ee88fab4685.html" target="element"> Servicio Defontana </a> </td>
											    <td> <a href="../elements/id-873f230165534f2b91eb8ee88fab4685.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bf2089f7b78b482ebc7ff5a3870841ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf2089f7b78b482ebc7ff5a3870841ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d1402c0ac0b44ef9c83a482d5543ecd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d1402c0ac0b44ef9c83a482d5543ecd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f8973fc87514e499fc812e10b471feb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f8973fc87514e499fc812e10b471feb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-551628be3df34ec28ad7e18d33319aaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-551628be3df34ec28ad7e18d33319aaa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b5edd0a59b04314a9f539358d72cf0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b5edd0a59b04314a9f539358d72cf0a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html" target="element"> Determina precio del SKU </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a59bb49e9f7441e58d5c80e44aea4317.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a59bb49e9f7441e58d5c80e44aea4317.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4419043e1d034445abe64cbeb76bdf8d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4419043e1d034445abe64cbeb76bdf8d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																				<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-48211f1dece8498ea2502c1229a92f90.html" target="element"> producto nuevo </a> </td>
																				<td> <a href="../elements/id-48211f1dece8498ea2502c1229a92f90.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a3b4bda779a4f86bd2132d0c01a9430.html" target="element"> producto existente </a> </td>
																				<td> <a href="../elements/id-1a3b4bda779a4f86bd2132d0c01a9430.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a1b85f200f114a13aceab21cc2e9b23f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1b85f200f114a13aceab21cc2e9b23f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																				<td> <a href="../elements/id-f4c83a68c812425eb033529fd7f33305.html" target="element"> Stock del SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ccd4070d6c6149b0975413833ec2d9d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccd4070d6c6149b0975413833ec2d9d3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																				<td> <a href="../elements/id-16335545e4294d829a11a9988585409c.html" target="element"> Resultado del conteo y revisi&#243;n  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70a45efad5f549e99b24180b6d0a7d9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70a45efad5f549e99b24180b6d0a7d9e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																				<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-18be1b237bd04dc7acf21d37d361f159.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18be1b237bd04dc7acf21d37d361f159.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0e1e6105ec3b4382aeeca39ae779a6f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e1e6105ec3b4382aeeca39ae779a6f7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																				<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d40dd351ebe4456082296587952319b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d40dd351ebe4456082296587952319b0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html" target="element"> Determina precio del SKU </a> </td>
																				<td> <a href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html" target="element"> Precio del SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e748bf8a1e874f07a098677a45e04200.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e748bf8a1e874f07a098677a45e04200.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html" target="element"> Determina precio del SKU </a> </td>
																				<td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-41ee77668acc4278b572fb0fd6dd6a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41ee77668acc4278b572fb0fd6dd6a87.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7818ff739e347309fc9ab7f0f1d5e7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7818ff739e347309fc9ab7f0f1d5e7e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element"> Amin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7a62a64c295428fbf77623a66d749e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7a62a64c295428fbf77623a66d749e8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8c4d4ca2f664fa3944226e636414ea4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8c4d4ca2f664fa3944226e636414ea4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-55dd2eaffb264d5581ed5ddecc53c30d.html" target="element"> Determina precio del SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d73aa091346e4728a8a904d209f320f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d73aa091346e4728a8a904d209f320f8.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
																		<td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aee7ca396b044c2193bf42d0360e754e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aee7ca396b044c2193bf42d0360e754e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
																		<td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ee0ef2d161247208ee1036a9aea0d02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ee0ef2d161247208ee1036a9aea0d02.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
																		<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-006b767975de4f999aabc3281c1eacbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-006b767975de4f999aabc3281c1eacbd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element"> Amin </a> </td>
																		<td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9f774ddd496e4524b88863bbf37c2fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f774ddd496e4524b88863bbf37c2fe7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element"> Daniel </a> </td>
																		<td> <a href="../elements/id-1332610109014c949bdf06ef722ae5b8.html" target="element"> Soporte TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccbd272f500f406b8961cc2aa6947287.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccbd272f500f406b8961cc2aa6947287.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element"> Daniel </a> </td>
																		<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d24c6e96578a41bc87c0c1868f681e52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d24c6e96578a41bc87c0c1868f681e52.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element"> Francisco </a> </td>
																		<td> <a href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html" target="element"> Ayudante de operaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84703b7abba64c18a68b21034f9f7a67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84703b7abba64c18a68b21034f9f7a67.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element"> Francisco </a> </td>
																		<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f94bf997b2264b6e8605634145ac818e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f94bf997b2264b6e8605634145ac818e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element"> Funciones para el costeo del SKU </a> </td>
																		<td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo producto importado (no semilla) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b9880a0700e4e7da3386062881211c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b9880a0700e4e7da3386062881211c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element"> Funciones para el costeo del SKU </a> </td>
																		<td> <a href="../elements/id-406aa0b7a728417aa251984c6bd5819d.html" target="element"> Costeo producto nacional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc83d473443c49b3b648cbfbaf99248b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc83d473443c49b3b648cbfbaf99248b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element"> Funciones para el costeo del SKU </a> </td>
																		<td> <a href="../elements/id-2f3191793f6849a1b828ed1ced550afa.html" target="element"> Costeo semilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bb741f3a6594308823b6df56d464ae9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bb741f3a6594308823b6df56d464ae9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element"> Funciones para el costeo del SKU </a> </td>
																		<td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac974b2a1a4e42889c7ae8da7efe0342.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac974b2a1a4e42889c7ae8da7efe0342.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-6266db0dde8e4dbeb598ef5541c73b4f.html" target="element"> Funciones para el costeo del SKU </a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-5fc750855a9d4268855b57359cfc6a74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fc750855a9d4268855b57359cfc6a74.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-873f230165534f2b91eb8ee88fab4685.html" target="element"> Servicio Defontana </a> </td>
																		<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>