<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Despacho de pedido</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Despacho de pedido</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a0a27ff728ea422e937a7880965245a3.png" alt="Despacho de pedido" usemap="#id-a0a27ff728ea422e937a7880965245a3map"/>
			   <map name="id-a0a27ff728ea422e937a7880965245a3map">
				  		<area shape="rect" coords="514,301,634,356" href="../elements/id-03bba56d98254afebbfd064a83acf01c.html"  target="element">
				  		<area shape="rect" coords="514,219,634,274" href="../elements/id-93b102ec46134743b6673c8d92ff11c5.html"  target="element">
				  		<area shape="rect" coords="514,397,646,454" href="../elements/id-c59674054ef1480db6f034f1993f2933.html"  target="element">
				  		<area shape="rect" coords="514,148,634,203" href="../elements/id-03da87d754b0465e93b5659850f7cee9.html"  target="element">
				  				<area shape="rect" coords="22,433,179,493" href="../elements/id-ab5ee9cc2543444aadaf88dac36f22b9.html"  target="element">

				          <area shape="rect" coords="10,397,191,505" href="../objects/id-9335c3da8c444fa6a2ba8b2f07dd99a4.html" target="element" >
				  				<area shape="rect" coords="22,34,142,89" href="../elements/id-9defd483c524476da940677c07790864.html"  target="element">

				          <area shape="rect" coords="10,10,155,101" href="../objects/id-df408426993e44daac9ae036c1be76fd.html" target="element" >
				  				<area shape="rect" coords="22,319,142,374" href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html"  target="element">
				  				<area shape="rect" coords="23,253,143,308" href="../elements/id-07af281ca741445982c47581cb2c9068.html"  target="element">
				  				<area shape="rect" coords="22,133,142,188" href="../elements/id-0ad8adb521cf47cfbc9d0781e23e1884.html"  target="element">
				  				<area shape="rect" coords="23,193,143,248" href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html"  target="element">

				          <area shape="rect" coords="10,109,155,385" href="../objects/id-1498492f08b64f85adeec304ad6a4258.html" target="element" >
				  		<area shape="rect" coords="166,145,299,206" href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html"  target="element">
				  		<area shape="rect" coords="166,73,251,122" href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html"  target="element">
				  				<area shape="rect" coords="346,216,466,276" href="../elements/id-887dbb603760427caf92cb55d8f8afd4.html"  target="element">
				  				<area shape="rect" coords="346,300,466,355" href="../elements/id-0e078541836540a780f8ba346d578c9a.html"  target="element">
				  				<area shape="rect" coords="346,144,466,199" href="../elements/id-3a2cefcb30bf4523b77d3f3e16bf2390.html"  target="element">

				  		<area shape="rect" coords="322,108,491,385" href="../elements/id-879dd1c5b07d45a59c528355a146d777.html"  target="element">
				  		<area shape="rect" coords="262,10,382,65" href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
											    <td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
											    <td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3a2cefcb30bf4523b77d3f3e16bf2390.html" target="element"> Retiro de cliente </a> </td>
													    <td> <a href="../elements/id-3a2cefcb30bf4523b77d3f3e16bf2390.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e078541836540a780f8ba346d578c9a.html" target="element"> Entrega con transporte propio </a> </td>
													    <td> <a href="../elements/id-0e078541836540a780f8ba346d578c9a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-887dbb603760427caf92cb55d8f8afd4.html" target="element"> Entrega con empresa de cargo </a> </td>
													    <td> <a href="../elements/id-887dbb603760427caf92cb55d8f8afd4.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html" target="element"> Pedido pagado </a> </td>
											    <td> <a href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
											    <td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-1498492f08b64f85adeec304ad6a4258.html" target="element"> NEGOCIO </a> </td>
									           <td> <a href="../objects/id-1498492f08b64f85adeec304ad6a4258.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html" target="element"> FUNCION DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-b2a3ac37f6de415880e6892292f6b23a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ad8adb521cf47cfbc9d0781e23e1884.html" target="element"> EVENTO DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-0ad8adb521cf47cfbc9d0781e23e1884.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07af281ca741445982c47581cb2c9068.html" target="element"> ACTOR DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-07af281ca741445982c47581cb2c9068.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html" target="element"> ROL DE NEGOCIO </a> </td>
													    <td> <a href="../elements/id-1f4fb2ddd4e84d1785e3231491fe07fb.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-df408426993e44daac9ae036c1be76fd.html" target="element"> ESTRATEGIA </a> </td>
									           <td> <a href="../objects/id-df408426993e44daac9ae036c1be76fd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9defd483c524476da940677c07790864.html" target="element"> CAPACIDAD </a> </td>
													    <td> <a href="../elements/id-9defd483c524476da940677c07790864.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9335c3da8c444fa6a2ba8b2f07dd99a4.html" target="element"> TEC Y FISICO </a> </td>
									           <td> <a href="../objects/id-9335c3da8c444fa6a2ba8b2f07dd99a4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-ab5ee9cc2543444aadaf88dac36f22b9.html" target="element"> EQUIPAMIENTO </a> </td>
													    <td> <a href="../elements/id-ab5ee9cc2543444aadaf88dac36f22b9.html" target="element" class="i18n-elementtype-Equipment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-03da87d754b0465e93b5659850f7cee9.html" target="element"> Cliente </a> </td>
											    <td> <a href="../elements/id-03da87d754b0465e93b5659850f7cee9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c59674054ef1480db6f034f1993f2933.html" target="element"> Transporte propio </a> </td>
											    <td> <a href="../elements/id-c59674054ef1480db6f034f1993f2933.html" target="element" class="i18n-elementtype-Equipment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93b102ec46134743b6673c8d92ff11c5.html" target="element"> Empresa de cargo </a> </td>
											    <td> <a href="../elements/id-93b102ec46134743b6673c8d92ff11c5.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03bba56d98254afebbfd064a83acf01c.html" target="element"> Chofer </a> </td>
											    <td> <a href="../elements/id-03bba56d98254afebbfd064a83acf01c.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0772f0a311b34df0a3a9cdef702f8dc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0772f0a311b34df0a3a9cdef702f8dc2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																		<td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c0055b1bf194ab581da9f4c87b23efd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c0055b1bf194ab581da9f4c87b23efd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																		<td> <a href="../elements/id-3a2cefcb30bf4523b77d3f3e16bf2390.html" target="element"> Retiro de cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d00b3a277a44661956f4a58453bafe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d00b3a277a44661956f4a58453bafe1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																		<td> <a href="../elements/id-0e078541836540a780f8ba346d578c9a.html" target="element"> Entrega con transporte propio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c130f34324b84eb49afc2538a2bbfc55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c130f34324b84eb49afc2538a2bbfc55.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																		<td> <a href="../elements/id-887dbb603760427caf92cb55d8f8afd4.html" target="element"> Entrega con empresa de cargo </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2cd47fff549b42d69efb1cbe8b895f9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cd47fff549b42d69efb1cbe8b895f9b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-d6f86798d93e470eb7d06f36fd6323c0.html" target="element"> Pedido pagado </a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7038d6f22224022a8bcaac2a90b23ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7038d6f22224022a8bcaac2a90b23ec.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-b84e10eb981a4960950e5ee404e29c73.html" target="element"> Gesti&#243;n del despacho </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fc4d70cfd284c5a9b2d3941c4357427.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fc4d70cfd284c5a9b2d3941c4357427.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-6ae674fd79fc451aa8e3831aa21aeedf.html" target="element"> Armado de pedido </a> </td>
																		<td> <a href="../elements/id-879dd1c5b07d45a59c528355a146d777.html" target="element"> Despacho de pedido </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-c821475a5b494f66a017e98215b54d88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c821475a5b494f66a017e98215b54d88.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-03da87d754b0465e93b5659850f7cee9.html" target="element"> Cliente </a> </td>
																		<td> <a href="../elements/id-3a2cefcb30bf4523b77d3f3e16bf2390.html" target="element"> Retiro de cliente </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9bb86aa606a4492180eb375b11d61dab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bb86aa606a4492180eb375b11d61dab.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c59674054ef1480db6f034f1993f2933.html" target="element"> Transporte propio </a> </td>
																		<td> <a href="../elements/id-03bba56d98254afebbfd064a83acf01c.html" target="element"> Chofer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d31c7a3508e6472e82e08d8a8e5fbc6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d31c7a3508e6472e82e08d8a8e5fbc6b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-93b102ec46134743b6673c8d92ff11c5.html" target="element"> Empresa de cargo </a> </td>
																		<td> <a href="../elements/id-887dbb603760427caf92cb55d8f8afd4.html" target="element"> Entrega con empresa de cargo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9046982179e64a9295e2e3f1a6142188.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9046982179e64a9295e2e3f1a6142188.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-03bba56d98254afebbfd064a83acf01c.html" target="element"> Chofer </a> </td>
																		<td> <a href="../elements/id-0e078541836540a780f8ba346d578c9a.html" target="element"> Entrega con transporte propio </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>