<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Costeo y fijación de precio - Internacional</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Costeo y fijaci&#243;n de precio - Internacional</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-af810e63a2144ba6a28e47ac15054bb4.png" alt="Costeo y fijación de precio - Internacional" usemap="#id-af810e63a2144ba6a28e47ac15054bb4map"/>
			   <map name="id-af810e63a2144ba6a28e47ac15054bb4map">
				  		<area shape="rect" coords="841,610,961,665" href="../elements/id-873f230165534f2b91eb8ee88fab4685.html"  target="element">
				  		<area shape="rect" coords="46,490,166,545" href="../elements/id-e82ad70256fb4452b6f9845d53bc210d.html"  target="element">
				  		<area shape="rect" coords="46,400,166,455" href="../elements/id-63cc730f27cf47249eb26706cafcd336.html"  target="element">
				  		<area shape="rect" coords="574,10,694,65" href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html"  target="element">
				  		<area shape="rect" coords="1174,323,1271,378" href="../elements/id-e6149a2caf844d788134c590a7c0c2bf.html"  target="element">
				  		<area shape="rect" coords="838,490,935,545" href="../elements/id-9132e13a93954e75a00b439962b6f39a.html"  target="element">
				  		<area shape="rect" coords="1031,388,1151,437" href="../elements/id-16335545e4294d829a11a9988585409c.html"  target="element">
				  		<area shape="rect" coords="1121,46,1241,101" href="../elements/id-f4c83a68c812425eb033529fd7f33305.html"  target="element">
				  		<area shape="rect" coords="994,347,1076,378" href="../elements/id-ed5b0dea590047088a5323491f6bb8e4.html"  target="element">
				  		<area shape="rect" coords="722,46,842,101" href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html"  target="element">
				  		<area shape="rect" coords="1121,493,1230,542" href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html"  target="element">
				  		<area shape="rect" coords="1121,442,1206,475" href="../elements/id-1fa796bf23624e42b3356c172f2992df.html"  target="element">
				  		<area shape="rect" coords="898,347,982,378" href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html"  target="element">
				  		<area shape="rect" coords="898,406,1007,455" href="../elements/id-1332610109014c949bdf06ef722ae5b8.html"  target="element">
				  		<area shape="rect" coords="634,465,716,497" href="../elements/id-c686d138670746a2805cf24482a3cf25.html"  target="element">
				  		<area shape="rect" coords="741,466,823,496" href="../elements/id-7abc559aff804500a9bb1b68076fce27.html"  target="element">
				  		<area shape="rect" coords="516,466,598,496" href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html"  target="element">
				  		<area shape="rect" coords="702,346,823,407" href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html"  target="element">
				  				<area shape="rect" coords="982,156,1091,208" href="../elements/id-2e018cf6614a4859aef890847b3be20a.html"  target="element">
				  				<area shape="rect" coords="1126,157,1235,212" href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html"  target="element">
				  				<area shape="rect" coords="802,177,817,192" href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html"  target="element">
				  				<area shape="rect" coords="850,226,947,263" href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html"  target="element">
				  				<area shape="rect" coords="658,154,779,209" href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html"  target="element">

				  		<area shape="rect" coords="634,118,1271,299" href="../elements/id-e723c642dc1845189075480bd14c971f.html"  target="element">
				  		<area shape="rect" coords="14,286,134,341" href="../elements/id-08dff6e8afca42949f6fa0f6758f13a5.html"  target="element">
				  		<area shape="rect" coords="406,46,526,101" href="../elements/id-fa117c77f1f042ae87ccdc7b1200f438.html"  target="element">
				  		<area shape="rect" coords="118,46,238,101" href="../elements/id-5452ee6a81054447a2601c676dedb9bc.html"  target="element">
				  		<area shape="rect" coords="352,403,472,458" href="../elements/id-be156f72c7d84d13b5bc090f154d305c.html"  target="element">
				  		<area shape="rect" coords="498,346,631,407" href="../elements/id-d473202977ed49e9911b08eaf228511d.html"  target="element">
				  		<area shape="rect" coords="516,526,823,563" href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html"  target="element">
				  		<area shape="rect" coords="352,490,472,545" href="../elements/id-68667784b3074200b023decfa3edd761.html"  target="element">
				  		<area shape="rect" coords="10,154,137,217" href="../elements/id-ae21448844bb48f281c01af4802665a2.html"  target="element">
				  				<area shape="rect" coords="478,154,599,209" href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html"  target="element">
				  				<area shape="rect" coords="322,154,454,209" href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html"  target="element">
				  				<area shape="rect" coords="178,154,298,209" href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html"  target="element">

				  		<area shape="rect" coords="154,118,623,299" href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html"  target="element">
				  				<area shape="rect" coords="190,388,287,417" href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html"  target="element">

				  		<area shape="rect" coords="178,340,299,437" href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Solo considera el caso de adquisici&#243;n de productos por importaci&#243;n.
No considera la adquisici&#243;n de productos en mercado nacional.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
											    <td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html" target="element"> Susana </a> </td>
													    <td> <a href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo Producto Importado </a> </td>
											    <td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html" target="element"> Estimaci&#243;n costo por SKU </a> </td>
													    <td> <a href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html" target="element"> Ajuste por conteo y revisi&#243;n  </a> </td>
													    <td> <a href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
													    <td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ae21448844bb48f281c01af4802665a2.html" target="element"> Salida de producci&#243;n en proveedor </a> </td>
											    <td> <a href="../elements/id-ae21448844bb48f281c01af4802665a2.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68667784b3074200b023decfa3edd761.html" target="element"> Bodega </a> </td>
											    <td> <a href="../elements/id-68667784b3074200b023decfa3edd761.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
											    <td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d473202977ed49e9911b08eaf228511d.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
											    <td> <a href="../elements/id-d473202977ed49e9911b08eaf228511d.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be156f72c7d84d13b5bc090f154d305c.html" target="element"> Ajuste por conteo y revisi&#243;n </a> </td>
											    <td> <a href="../elements/id-be156f72c7d84d13b5bc090f154d305c.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5452ee6a81054447a2601c676dedb9bc.html" target="element"> Pol&#237;tica de Costeo por SKU </a> </td>
											    <td> <a href="../elements/id-5452ee6a81054447a2601c676dedb9bc.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa117c77f1f042ae87ccdc7b1200f438.html" target="element"> Pol&#237;tica de Costeo del SKU </a> </td>
											    <td> <a href="../elements/id-fa117c77f1f042ae87ccdc7b1200f438.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08dff6e8afca42949f6fa0f6758f13a5.html" target="element"> Proforma </a> </td>
											    <td> <a href="../elements/id-08dff6e8afca42949f6fa0f6758f13a5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
											    <td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
													    <td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
													    <td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
													    <td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
													    <td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
											    <td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
											    <td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
											    <td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element"> Amin </a> </td>
											    <td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1332610109014c949bdf06ef722ae5b8.html" target="element"> Soporte TI </a> </td>
											    <td> <a href="../elements/id-1332610109014c949bdf06ef722ae5b8.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element"> Daniel </a> </td>
											    <td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element"> Francisco </a> </td>
											    <td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html" target="element"> Ayudante de operaciones </a> </td>
											    <td> <a href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html" target="element"> Pol&#237;tica de precio del SKU </a> </td>
											    <td> <a href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed5b0dea590047088a5323491f6bb8e4.html" target="element"> Ayun </a> </td>
											    <td> <a href="../elements/id-ed5b0dea590047088a5323491f6bb8e4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4c83a68c812425eb033529fd7f33305.html" target="element"> Stock del SKU </a> </td>
											    <td> <a href="../elements/id-f4c83a68c812425eb033529fd7f33305.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16335545e4294d829a11a9988585409c.html" target="element"> Resultado del conteo y revisi&#243;n  </a> </td>
											    <td> <a href="../elements/id-16335545e4294d829a11a9988585409c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
											    <td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6149a2caf844d788134c590a7c0c2bf.html" target="element"> ERP Defontana  </a> </td>
											    <td> <a href="../elements/id-e6149a2caf844d788134c590a7c0c2bf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element"> Costeo y fijaci&#243;n de precio </a> </td>
											    <td> <a href="../elements/id-d88b88d60d9b414b94c71bd60fb61f96.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63cc730f27cf47249eb26706cafcd336.html" target="element"> Plantilla de Costeo </a> </td>
											    <td> <a href="../elements/id-63cc730f27cf47249eb26706cafcd336.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e82ad70256fb4452b6f9845d53bc210d.html" target="element"> Excel de Costeo </a> </td>
											    <td> <a href="../elements/id-e82ad70256fb4452b6f9845d53bc210d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-873f230165534f2b91eb8ee88fab4685.html" target="element"> Software como servicio </a> </td>
											    <td> <a href="../elements/id-873f230165534f2b91eb8ee88fab4685.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-cecfa91ebcae4475a5e80f374b5390a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cecfa91ebcae4475a5e80f374b5390a0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																		<td> <a href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html" target="element"> Estimaci&#243;n costo por SKU </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-55a6ba0089b0402386f3fd45d86f4711.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55a6ba0089b0402386f3fd45d86f4711.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-dd0feeda78464c4e827cc3fc09fa3f06.html" target="element"> Susana </a> </td>
																				<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-35f138a726ef4beeb06b17789f98c782.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35f138a726ef4beeb06b17789f98c782.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo Producto Importado </a> </td>
																		<td> <a href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html" target="element"> Estimaci&#243;n costo por SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03bcf3d4fbfb46f58b58bd190b1b6475.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03bcf3d4fbfb46f58b58bd190b1b6475.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo Producto Importado </a> </td>
																		<td> <a href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html" target="element"> Ajuste por conteo y revisi&#243;n  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23e3c95e6efb4fabb35767984cb5746f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23e3c95e6efb4fabb35767984cb5746f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo Producto Importado </a> </td>
																		<td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f17e99e93294ee9b7a741fac754ee6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f17e99e93294ee9b7a741fac754ee6f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-c2f69910fff74a4784817e85592ce8c3.html" target="element"> Costeo Producto Importado </a> </td>
																		<td> <a href="../elements/id-5452ee6a81054447a2601c676dedb9bc.html" target="element"> Pol&#237;tica de Costeo por SKU </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8bcbe4cbb370417d8ada1c281352e3d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bcbe4cbb370417d8ada1c281352e3d8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html" target="element"> Estimaci&#243;n costo por SKU </a> </td>
																				<td> <a href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html" target="element"> Ajuste por conteo y revisi&#243;n  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a2b1a48cddf0445d8e5919dea38c9311.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2b1a48cddf0445d8e5919dea38c9311.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html" target="element"> Ajuste por conteo y revisi&#243;n  </a> </td>
																				<td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8e934063f4d24baebb9133765591a0f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e934063f4d24baebb9133765591a0f8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																				<td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c3d4c175001f4139975c19ddd50703d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c3d4c175001f4139975c19ddd50703d1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																				<td> <a href="../elements/id-fa117c77f1f042ae87ccdc7b1200f438.html" target="element"> Pol&#237;tica de Costeo del SKU </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5b648b5fb606407abade714a3acbbfae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b648b5fb606407abade714a3acbbfae.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-ae21448844bb48f281c01af4802665a2.html" target="element"> Salida de producci&#243;n en proveedor </a> </td>
																		<td> <a href="../elements/id-ad0b97ad14274cee9e00b4fcdf5d533c.html" target="element"> Estimaci&#243;n costo por SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef23d0d485a04aa18025f080d27fe75f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef23d0d485a04aa18025f080d27fe75f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ae21448844bb48f281c01af4802665a2.html" target="element"> Salida de producci&#243;n en proveedor </a> </td>
																		<td> <a href="../elements/id-08dff6e8afca42949f6fa0f6758f13a5.html" target="element"> Proforma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-435946cc39064c078fa94a808c326b95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-435946cc39064c078fa94a808c326b95.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-d473202977ed49e9911b08eaf228511d.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e791a21cce54658b2abe0b9ad17906f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e791a21cce54658b2abe0b9ad17906f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-d473202977ed49e9911b08eaf228511d.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																		<td> <a href="../elements/id-9bff2932fbde4d0da7d2cfbc7cb3233f.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a1dbfdb9c1a4eb3af8bc945af220698.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a1dbfdb9c1a4eb3af8bc945af220698.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-d473202977ed49e9911b08eaf228511d.html" target="element"> Determinaci&#243;n costo del SKU </a> </td>
																		<td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ccf988bfeea1404993d59d86b7f0bee2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccf988bfeea1404993d59d86b7f0bee2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-be156f72c7d84d13b5bc090f154d305c.html" target="element"> Ajuste por conteo y revisi&#243;n </a> </td>
																		<td> <a href="../elements/id-2ccd5ce2bb6549eab5da30454f276de2.html" target="element"> COMEX </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2b95b92570a4ab5b7865e9ee8966c91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2b95b92570a4ab5b7865e9ee8966c91.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-be156f72c7d84d13b5bc090f154d305c.html" target="element"> Ajuste por conteo y revisi&#243;n </a> </td>
																		<td> <a href="../elements/id-68667784b3074200b023decfa3edd761.html" target="element"> Bodega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0bcb40f7eaa4b17ad0a5c69913787fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0bcb40f7eaa4b17ad0a5c69913787fc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-be156f72c7d84d13b5bc090f154d305c.html" target="element"> Ajuste por conteo y revisi&#243;n </a> </td>
																		<td> <a href="../elements/id-0ec0a7fba896484caab542a7622cec5c.html" target="element"> Ajuste por conteo y revisi&#243;n  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-13aaba672460406f893c66a6ef450603.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13aaba672460406f893c66a6ef450603.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf2089f7b78b482ebc7ff5a3870841ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf2089f7b78b482ebc7ff5a3870841ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d1402c0ac0b44ef9c83a482d5543ecd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d1402c0ac0b44ef9c83a482d5543ecd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f8973fc87514e499fc812e10b471feb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f8973fc87514e499fc812e10b471feb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e723c642dc1845189075480bd14c971f.html" target="element"> Fijaci&#243;n de Precio </a> </td>
																		<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e748bf8a1e874f07a098677a45e04200.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e748bf8a1e874f07a098677a45e04200.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																				<td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d40dd351ebe4456082296587952319b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d40dd351ebe4456082296587952319b0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																				<td> <a href="../elements/id-c30fb0a67f41430daf070bfe7cf1ee2f.html" target="element"> Pol&#237;tica de precio del SKU </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a59bb49e9f7441e58d5c80e44aea4317.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a59bb49e9f7441e58d5c80e44aea4317.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4419043e1d034445abe64cbeb76bdf8d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4419043e1d034445abe64cbeb76bdf8d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																				<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-48211f1dece8498ea2502c1229a92f90.html" target="element"> producto nuevo </a> </td>
																				<td> <a href="../elements/id-48211f1dece8498ea2502c1229a92f90.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a3b4bda779a4f86bd2132d0c01a9430.html" target="element"> producto existente </a> </td>
																				<td> <a href="../elements/id-1a3b4bda779a4f86bd2132d0c01a9430.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-c8d3cdf6742d4010a55091d77a40a811.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a1b85f200f114a13aceab21cc2e9b23f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1b85f200f114a13aceab21cc2e9b23f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																				<td> <a href="../elements/id-f4c83a68c812425eb033529fd7f33305.html" target="element"> Stock del SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ccd4070d6c6149b0975413833ec2d9d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccd4070d6c6149b0975413833ec2d9d3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																				<td> <a href="../elements/id-16335545e4294d829a11a9988585409c.html" target="element"> Resultado del conteo y revisi&#243;n  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1680d08ee7384745b722dc7a6c47b108.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1680d08ee7384745b722dc7a6c47b108.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																				<td> <a href="../elements/id-e6149a2caf844d788134c590a7c0c2bf.html" target="element"> ERP Defontana  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-18be1b237bd04dc7acf21d37d361f159.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18be1b237bd04dc7acf21d37d361f159.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																				<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-713f6e87f93b4486ad7376fe61d76e2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-713f6e87f93b4486ad7376fe61d76e2c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																				<td> <a href="../elements/id-e6149a2caf844d788134c590a7c0c2bf.html" target="element"> ERP Defontana  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f8c4d4ca2f664fa3944226e636414ea4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8c4d4ca2f664fa3944226e636414ea4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-e30ed0ccb83a4559b689750f31f76cbe.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41ee77668acc4278b572fb0fd6dd6a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41ee77668acc4278b572fb0fd6dd6a87.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7818ff739e347309fc9ab7f0f1d5e7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7818ff739e347309fc9ab7f0f1d5e7e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element"> Amin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7a62a64c295428fbf77623a66d749e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7a62a64c295428fbf77623a66d749e8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-3d23f150405b4e278c7b93d51612ab91.html" target="element"> Determinaci&#243;n precio del SKU </a> </td>
																		<td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d73aa091346e4728a8a904d209f320f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d73aa091346e4728a8a904d209f320f8.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-6d34ba7fbceb49d881b1e302f825b9fe.html" target="element"> Oscar </a> </td>
																		<td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aee7ca396b044c2193bf42d0360e754e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aee7ca396b044c2193bf42d0360e754e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-7abc559aff804500a9bb1b68076fce27.html" target="element"> Ayun </a> </td>
																		<td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-006b767975de4f999aabc3281c1eacbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-006b767975de4f999aabc3281c1eacbd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c686d138670746a2805cf24482a3cf25.html" target="element"> Amin </a> </td>
																		<td> <a href="../elements/id-24de05fa38ef49c9b2a63b45bba40c86.html" target="element"> Comercial </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9f774ddd496e4524b88863bbf37c2fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f774ddd496e4524b88863bbf37c2fe7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element"> Daniel </a> </td>
																		<td> <a href="../elements/id-1332610109014c949bdf06ef722ae5b8.html" target="element"> Soporte TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccbd272f500f406b8961cc2aa6947287.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccbd272f500f406b8961cc2aa6947287.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-08a5d8bc83f640de92b3f36f8463969b.html" target="element"> Daniel </a> </td>
																		<td> <a href="../elements/id-c0041f8acfb34e7daad12542a2114b78.html" target="element"> Crea SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d24c6e96578a41bc87c0c1868f681e52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d24c6e96578a41bc87c0c1868f681e52.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element"> Francisco </a> </td>
																		<td> <a href="../elements/id-14b5384e3cb5464cbffb9fc3a09df1f9.html" target="element"> Ayudante de operaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84703b7abba64c18a68b21034f9f7a67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84703b7abba64c18a68b21034f9f7a67.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-1fa796bf23624e42b3356c172f2992df.html" target="element"> Francisco </a> </td>
																		<td> <a href="../elements/id-f504252e02a844609cb83a95c5d4fc34.html" target="element"> Carga costo y stock SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ffc7d15bd474616a10aed599f170964.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ffc7d15bd474616a10aed599f170964.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-ed5b0dea590047088a5323491f6bb8e4.html" target="element"> Ayun </a> </td>
																		<td> <a href="../elements/id-2e018cf6614a4859aef890847b3be20a.html" target="element"> Carga precio del SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eaede6669f7a41f9934b7c0f5ed31b77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eaede6669f7a41f9934b7c0f5ed31b77.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-63cc730f27cf47249eb26706cafcd336.html" target="element"> Plantilla de Costeo </a> </td>
																		<td> <a href="../elements/id-5452ee6a81054447a2601c676dedb9bc.html" target="element"> Pol&#237;tica de Costeo por SKU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9b2f8806e334025b0e68e6c0b486b59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9b2f8806e334025b0e68e6c0b486b59.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e82ad70256fb4452b6f9845d53bc210d.html" target="element"> Excel de Costeo </a> </td>
																		<td> <a href="../elements/id-63cc730f27cf47249eb26706cafcd336.html" target="element"> Plantilla de Costeo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f344b0f7eea4c889b52b77813566748.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f344b0f7eea4c889b52b77813566748.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-873f230165534f2b91eb8ee88fab4685.html" target="element"> Software como servicio </a> </td>
																		<td> <a href="../elements/id-9132e13a93954e75a00b439962b6f39a.html" target="element"> ERP Defontana </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>